In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\YOUTUBE_TELKOMSEL\databersih_english_youtube_telkomsel\databersih_english_youtube_telkomsel_2.xlsx', usecols=columns)
df.head(2000)

                                       comment_english
0    ['Thank you', 'Telkomsel', 'Blood', 'Moga', 'F...
1                     ['Since', 'use', 'TelkomTod', "]
2     ['Kerennn', 'threat', 'signal', 'Telkomsel', '']
3    ['Disappointed', 'BNGT', 'Wei', 'Internet', 'S...
4    ['already', 'dead', 'Telkomsel', 'furious', 'r...
..                                                 ...
106               ['Emotion', 'card', 'Telkomsel', '']
107     ['Telkomsel', 'signal', 'disturbing', 'gmana']
108  ['', 'how', 'signal', 'Telkomsel', 'Bener', 'A...
109                                           ['', '']
110                                         ['signal']

[111 rows x 1 columns]

In [3]:
df['comment_english'] = df['comment_english'].str.lower()
df.head(2000)

                                       comment_english
0    ['thank you', 'telkomsel', 'blood', 'moga', 'f...
1                     ['since', 'use', 'telkomtod', "]
2     ['kerennn', 'threat', 'signal', 'telkomsel', '']
3    ['disappointed', 'bngt', 'wei', 'internet', 's...
4    ['already', 'dead', 'telkomsel', 'furious', 'r...
..                                                 ...
106               ['emotion', 'card', 'telkomsel', '']
107     ['telkomsel', 'signal', 'disturbing', 'gmana']
108  ['', 'how', 'signal', 'telkomsel', 'bener', 'a...
109                                           ['', '']
110                                         ['signal']

[111 rows x 1 columns]

In [4]:
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.2
Index:  1 label_awal 0.0
Index:  2 label_awal 0.0
Index:  3 label_awal -0.175
Index:  4 label_awal 0.0
Index:  5 label_awal 0.2
Index:  6 label_awal 0.0
Index:  7 label_awal 0.0
Index:  8 label_awal 0.0
Index:  9 label_awal -0.125
Index:  10 label_awal -0.3
Index:  11 label_awal 0.0
Index:  12 label_awal 0.5
Index:  13 label_awal 0.5
Index:  14 label_awal 0.0
Index:  15 label_awal 0.06666666666666667
Index:  16 label_awal 0.0
Index:  17 label_awal 0.0
Index:  18 label_awal 0.7
Index:  19 label_awal -0.1
Index:  20 label_awal 0.0
Index:  21 label_awal 0.4
Index:  22 label_awal -0.4
Index:  23 label_awal 0.0
Index:  24 label_awal 0.21666666666666665
Index:  25 label_awal 0.0
Index:  26 label_awal -0.0285714285714286
Index:  27 label_awal 0.0
Index:  28 label_awal 0.0
Index:  29 label_awal 0.0
Index:  30 label_awal -0.0666666666666667
Index:  31 label_awal 0.0
Index:  32 label_awal 0.0
Index:  33 label_awal 0.0
Index:  34 label_awal 0.35
Index:  35 label_awal 0.0
Index:  36 label_awal 0.0
Index:  37 label_awal 0.0
Index:  38 label_awal -0.2
Index:  39 label_awal 0.35
Index:  40 label_awal 0.0
Index:  41 label_awal 0.0
Index:  42 label_awal 0.0
Index:  43 label_awal 0.0
Index:  44 label_awal 0.0
Index:  45 label_awal 0.0
Index:  46 label_awal 0.0
Index:  47 label_awal -0.5
Index:  48 label_awal 0.0
Index:  49 label_awal 0.35
Index:  50 label_awal 0.0
Index:  51 label_awal 0.0
Index:  52 label_awal 0.0
Index:  53 label_awal 0.0
Index:  54 label_awal -0.1
Index:  55 label_awal 0.1875
Index:  56 label_awal 0.0
Index:  57 label_awal -0.5
Index:  58 label_awal 0.0
Index:  59 label_awal 0.06888888888888889
Index:  60 label_awal 0.0
Index:  61 label_awal 0.0
Index:  62 label_awal 0.0
Index:  63 label_awal 0.0
Index:  64 label_awal 0.0
Index:  65 label_awal 0.0
Index:  66 label_awal 0.0
Index:  67 label_awal 0.0
Index:  68 label_awal 0.0
Index:  69 label_awal 0.0
Index:  70 label_awal 0.0
Index:  71 label_awal 0.7
Index:  72 label_awal 0.3333333333333333
Index:  73 label_awal -0.15555555555555559
Index:  74 label_awal 0.0
Index:  75 label_awal 0.0
Index:  76 label_awal 0.7
Index:  77 label_awal 0.4
Index:  78 label_awal 0.0
Index:  79 label_awal 0.25
Index:  80 label_awal 0.7
Index:  81 label_awal 0.425
Index:  82 label_awal 0.0
Index:  83 label_awal 0.0
Index:  84 label_awal 0.0
Index:  85 label_awal 0.7
Index:  86 label_awal 0.0
Index:  87 label_awal 0.0
Index:  88 label_awal 0.0
Index:  89 label_awal 0.375
Index:  90 label_awal 0.375
Index:  91 label_awal 0.0
Index:  92 label_awal -0.3499999999999999
Index:  93 label_awal 5.551115123125783e-17
Index:  94 label_awal 0.1464285714285714
Index:  95 label_awal 0.7
Index:  96 label_awal 0.5
Index:  97 label_awal 0.0
Index:  98 label_awal 0.0
Index:  99 label_awal 0.0
Index:  100 label_awal 0.0
Index:  101 label_awal 0.0
Index:  102 label_awal 0.0
Index:  103 label_awal -0.5
Index:  104 label_awal 0.0
Index:  105 label_awal -0.17142857142857146
Index:  106 label_awal 0.0
Index:  107 label_awal -0.5
Index:  108 label_awal 0.06944444444444443
Index:  109 label_awal 0.0
Index:  110 label_awal 0.0

In [5]:
df.head()

                                     comment_english label_awal
0  ['thank you', 'telkomsel', 'blood', 'moga', 'f...        0.2
1                   ['since', 'use', 'telkomtod', "]        0.0
2   ['kerennn', 'threat', 'signal', 'telkomsel', '']        0.0
3  ['disappointed', 'bngt', 'wei', 'internet', 's...     -0.175
4  ['already', 'dead', 'telkomsel', 'furious', 'r...        0.0

In [6]:
df['label_awal'].value_counts()

 0.000000e+00    67
 7.000000e-01     6
-5.000000e-01     4
 3.500000e-01     3
 5.000000e-01     3
-1.000000e-01     2
 3.750000e-01     2
 4.000000e-01     2
 2.000000e-01     2
 6.666667e-02     1
-4.000000e-01     1
-1.714286e-01     1
 1.464286e-01     1
 5.551115e-17     1
-3.500000e-01     1
-1.750000e-01     1
 4.250000e-01     1
 2.500000e-01     1
-1.555556e-01     1
 3.333333e-01     1
 6.888889e-02     1
 1.875000e-01     1
-1.250000e-01     1
-2.000000e-01     1
-3.000000e-01     1
-6.666667e-02     1
-2.857143e-02     1
 2.166667e-01     1
 6.944444e-02     1
Name: label_awal, dtype: int64

In [7]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] < 0.0:
        label.append("negative")
    else:
        label.append("positive")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                       comment_english     label
0    ['thank you', 'telkomsel', 'blood', 'moga', 'f...  positive
1                     ['since', 'use', 'telkomtod', "]  positive
2     ['kerennn', 'threat', 'signal', 'telkomsel', '']  positive
3    ['disappointed', 'bngt', 'wei', 'internet', 's...  negative
4    ['already', 'dead', 'telkomsel', 'furious', 'r...  positive
..                                                 ...       ...
106               ['emotion', 'card', 'telkomsel', '']  positive
107     ['telkomsel', 'signal', 'disturbing', 'gmana']  negative
108  ['', 'how', 'signal', 'telkomsel', 'bener', 'a...  positive
109                                           ['', '']  positive
110                                         ['signal']  positive

[111 rows x 2 columns]

In [8]:
df['label'].value_counts()

positive    95
negative    16
Name: label, dtype: int64

In [9]:
df.to_excel('labeling_databersih_youtube_telkomsel_2.xlsx')