In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\INSTAGRAM_TELKOMSEL\data bersih_translate instagram telkomsel\databersih_english_instagram_telkomsel_10.xlsx', usecols=columns)
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.0
Index:  1 label_awal 0.0
Index:  2 label_awal 0.2
Index:  3 label_awal 0.0
Index:  4 label_awal 0.0
Index:  5 label_awal 0.13636363636363635
Index:  6 label_awal 0.0
Index:  7 label_awal 0.0
Index:  8 label_awal 0.25
Index:  9 label_awal 0.0
Index:  10 label_awal 0.0
Index:  11 label_awal -0.13333333333333333
Index:  12 label_awal 0.0
Index:  13 label_awal 0.0
Index:  14 label_awal -0.1
Index:  15 label_awal -0.1875
Index:  16 label_awal 0.43333333333333335
Index:  17 label_awal 0.0
Index:  18 label_awal 0.0
Index:  19 label_awal -0.4
Index:  20 label_awal 0.0
Index:  21 label_awal 0.0
Index:  22 label_awal 0.0
Index:  23 label_awal 0.8
Index:  24 label_awal 0.0
Index:  25 label_awal 0.0
Index:  26 label_awal 0.0
Index:  27 label_awal 0.0
Index:  28 label_awal 0.0
Index:  29 label_awal 0.0
Index:  30 label_awal 0.0
Index:  31 label_awal 0.4
Index:  32 label_awal 0.0
Index:  33 label_awal 0.21666666666666667
Index:  34 label_awal 0.0
Index:  35 label_awal 0.5
Index:  36 label_awal 0.0
Index:  37 label_awal 0.0
Index:  38 label_awal 0.0
Index:  39 label_awal 0.0
Index:  40 label_awal 0.8
Index:  41 label_awal 0.0
Index:  42 label_awal -0.1
Index:  43 label_awal -0.11666666666666668
Index:  44 label_awal 0.0
Index:  45 label_awal 0.0
Index:  46 label_awal 0.4
Index:  47 label_awal 0.4
Index:  48 label_awal 0.0
Index:  49 label_awal 0.4
Index:  50 label_awal 0.0
Index:  51 label_awal 0.0
Index:  52 label_awal 0.0
Index:  53 label_awal 0.0
Index:  54 label_awal -0.21904761904761902
Index:  55 label_awal 0.0
Index:  56 label_awal 0.7
Index:  57 label_awal 0.4
Index:  58 label_awal 0.0
Index:  59 label_awal 0.0
Index:  60 label_awal 0.0
Index:  61 label_awal 0.4
Index:  62 label_awal 0.0
Index:  63 label_awal 0.0
Index:  64 label_awal 0.06666666666666667
Index:  65 label_awal 0.7
Index:  66 label_awal 0.0
Index:  67 label_awal 0.0
Index:  68 label_awal 0.0
Index:  69 label_awal 0.0
Index:  70 label_awal 0.0
Index:  71 label_awal 0.5
Index:  72 label_awal 0.0888888888888889
Index:  73 label_awal 0.0
Index:  74 label_awal 0.0
Index:  75 label_awal 0.0
Index:  76 label_awal 0.8
Index:  77 label_awal 0.25
Index:  78 label_awal -0.01
Index:  79 label_awal 0.0
Index:  80 label_awal 0.8
Index:  81 label_awal 0.09999999999999998
Index:  82 label_awal -0.75
Index:  83 label_awal 0.0
Index:  84 label_awal 0.06666666666666667
Index:  85 label_awal 0.0
Index:  86 label_awal 0.0
Index:  87 label_awal 0.4
Index:  88 label_awal 0.0
Index:  89 label_awal 0.0
Index:  90 label_awal 0.0
Index:  91 label_awal 0.0
Index:  92 label_awal 0.4
Index:  93 label_awal -0.3
Index:  94 label_awal 0.0
Index:  95 label_awal 0.0
Index:  96 label_awal 0.7
Index:  97 label_awal 0.5
Index:  98 label_awal 0.0
Index:  99 label_awal 0.0
Index:  100 label_awal -0.07777777777777777
Index:  101 label_awal 0.0
Index:  102 label_awal 0.039999999999999994
Index:  103 label_awal 0.0
Index:  104 label_awal -0.7142857142857143
Index:  105 label_awal -0.4
Index:  106 label_awal 0.0058441558441558435

In [3]:
df.head()

                                     comment_english label_awal
0  ['min', 'institute', 'technology', 'surabaya',...        0.0
1  ['by the way', 'cave', 'person', 'sumenep', 'm...        0.0
2                  ['village', 'connection', 'fast']        0.2
3  ['signal', 'urusin', 'taeeekkk', 'make', 'towe...        0.0
4          ['buy', 'medicine', 'halang', 'distance']        0.0

In [4]:
df['label_awal'].value_counts()

 0.000000    64
 0.400000     8
 0.800000     4
 0.700000     3
 0.500000     3
-0.400000     2
-0.100000     2
 0.250000     2
 0.066667     2
-0.077778     1
-0.300000     1
 0.088889     1
 0.040000     1
-0.750000     1
 0.100000     1
-0.010000     1
-0.714286     1
-0.116667     1
-0.219048     1
 0.200000     1
 0.216667     1
 0.433333     1
-0.187500     1
-0.133333     1
 0.136364     1
 0.005844     1
Name: label_awal, dtype: int64

In [5]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] > 0.0:
        label.append("positive")
    else:
        label.append("negative")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                       comment_english     label
0    ['min', 'institute', 'technology', 'surabaya',...  negative
1    ['by the way', 'cave', 'person', 'sumenep', 'm...  negative
2                    ['village', 'connection', 'fast']  positive
3    ['signal', 'urusin', 'taeeekkk', 'make', 'towe...  negative
4            ['buy', 'medicine', 'halang', 'distance']  negative
..                                                 ...       ...
102  ['dear', 'clear', 'hook', 'connection', 'inter...  positive
103            ['min', 'open', 'php', 'yesterday', '']  negative
104  ['life', 'damn', 'sick', 'structure', 'name', ...  negative
105  ['jokowi', 'please', 'change', 'name', 'indone...  negative
106  ['jokowi', 'country', 'congratulations',' plea...  positive

[107 rows x 2 columns]

In [6]:
df['label'].value_counts()

negative    77
positive    30
Name: label, dtype: int64

In [7]:
df.to_excel('labeling_databersih_instagram_indihome_10.xlsx')