In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\INSTAGRAM_TELKOMSEL\data bersih_translate instagram telkomsel\databersih_english_instagram_telkomsel_6.xlsx', usecols=columns)
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.0
Index:  1 label_awal 0.0
Index:  2 label_awal 0.0
Index:  3 label_awal 0.0
Index:  4 label_awal 0.375
Index:  5 label_awal 0.0
Index:  6 label_awal 0.0
Index:  7 label_awal 0.0
Index:  8 label_awal 0.0
Index:  9 label_awal 0.0
Index:  10 label_awal 0.0
Index:  11 label_awal 0.0
Index:  12 label_awal 0.0
Index:  13 label_awal 0.0
Index:  14 label_awal 0.2
Index:  15 label_awal 0.4666666666666667
Index:  16 label_awal 0.36041666666666666
Index:  17 label_awal 0.0
Index:  18 label_awal 0.0
Index:  19 label_awal 0.7
Index:  20 label_awal 0.0
Index:  21 label_awal -0.05
Index:  22 label_awal 0.15068027210884352
Index:  23 label_awal 0.0
Index:  24 label_awal -0.5
Index:  25 label_awal 0.0
Index:  26 label_awal 0.0
Index:  27 label_awal -0.5
Index:  28 label_awal 0.0
Index:  29 label_awal 0.16666666666666666
Index:  30 label_awal -0.5
Index:  31 label_awal 0.0
Index:  32 label_awal 0.0
Index:  33 label_awal 0.0
Index:  34 label_awal -0.3
Index:  35 label_awal 0.0
Index:  36 label_awal 0.0
Index:  37 label_awal 0.0
Index:  38 label_awal 0.0
Index:  39 label_awal 0.3
Index:  40 label_awal 0.0
Index:  41 label_awal 0.0
Index:  42 label_awal 0.0
Index:  43 label_awal 0.0
Index:  44 label_awal 0.5
Index:  45 label_awal 0.0
Index:  46 label_awal 0.8
Index:  47 label_awal 0.0
Index:  48 label_awal 0.0
Index:  49 label_awal -0.024999999999999994
Index:  50 label_awal 0.44999999999999996
Index:  51 label_awal 0.0
Index:  52 label_awal -0.5
Index:  53 label_awal -0.13333333333333333
Index:  54 label_awal 0.0
Index:  55 label_awal 0.0
Index:  56 label_awal -3.96508223080413e-18
Index:  57 label_awal -0.11666666666666667
Index:  58 label_awal 0.0
Index:  59 label_awal 0.0
Index:  60 label_awal -0.18333333333333335
Index:  61 label_awal 0.0
Index:  62 label_awal 0.0
Index:  63 label_awal 0.30000000000000004
Index:  64 label_awal 0.0
Index:  65 label_awal -0.2
Index:  66 label_awal 0.0
Index:  67 label_awal 0.0
Index:  68 label_awal 0.0
Index:  69 label_awal 0.7
Index:  70 label_awal 0.0
Index:  71 label_awal 0.0
Index:  72 label_awal 0.0
Index:  73 label_awal 0.0
Index:  74 label_awal 0.0
Index:  75 label_awal -0.19999999999999996
Index:  76 label_awal 0.0
Index:  77 label_awal 0.7
Index:  78 label_awal 0.0
Index:  79 label_awal 0.0
Index:  80 label_awal 0.0
Index:  81 label_awal 0.0
Index:  82 label_awal 0.0
Index:  83 label_awal 0.0
Index:  84 label_awal 0.0
Index:  85 label_awal 0.0
Index:  86 label_awal 0.0
Index:  87 label_awal 0.0
Index:  88 label_awal 0.0
Index:  89 label_awal 0.5
Index:  90 label_awal 0.35
Index:  91 label_awal 0.0
Index:  92 label_awal 0.0
Index:  93 label_awal 0.0
Index:  94 label_awal 0.0

In [3]:
df.head()

                                     comment_english label_awal
0  ['jripping', 'gmn', 'knpa', 'smkin', 'smkin', ...        0.0
1  ['hadeuhhhhhhhh', 'signal', 'emotion', 'please...        0.0
2                                          of course        0.0
3  ['admin', 'back', 'package', 'combo', 'unlimit...        0.0
4  ['logo', 'doang', 'internet', 'rich', 'era', '...      0.375

In [4]:
df['label_awal'].value_counts()

 0.000000e+00    66
-5.000000e-01     4
 7.000000e-01     3
 5.000000e-01     2
 3.604167e-01     1
 4.666667e-01     1
-2.000000e-01     1
-2.000000e-01     1
 3.000000e-01     1
-1.833333e-01     1
-1.166667e-01     1
-3.965082e-18     1
-1.333333e-01     1
 4.500000e-01     1
-2.500000e-02     1
 8.000000e-01     1
 3.750000e-01     1
 3.000000e-01     1
-3.000000e-01     1
 1.666667e-01     1
 2.000000e-01     1
 1.506803e-01     1
-5.000000e-02     1
 3.500000e-01     1
Name: label_awal, dtype: int64

In [5]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] > 0.0:
        label.append("positive")
    else:
        label.append("negative")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                      comment_english     label
0   ['jripping', 'gmn', 'knpa', 'smkin', 'smkin', ...  negative
1   ['hadeuhhhhhhhh', 'signal', 'emotion', 'please...  negative
2                                           of course  negative
3   ['admin', 'back', 'package', 'combo', 'unlimit...  negative
4   ['logo', 'doang', 'internet', 'rich', 'era', '...  positive
..                                                ...       ...
90  ['admin', 'omg', 'kouta', 'watch', 'kouta', 'i...  positive
91                              ['price', 'punjukin']  negative
92  ['quota', 'maxtream', 'skg', 'access', 'netfli...  negative
93                                          of course  negative
94   ['min', 'quota', 'local', 'she', 'zone', 'list']  negative

[95 rows x 2 columns]

In [6]:
df['label'].value_counts()

negative    79
positive    16
Name: label, dtype: int64

In [7]:
df.to_excel('labeling_databersih_instagram_indihome_6.xlsx')