In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\INSTAGRAM_TELKOMSEL\data bersih_translate instagram telkomsel\databersih_english_instagram_telkomsel_5.xlsx', usecols=columns)
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.0
Index:  1 label_awal 0.0
Index:  2 label_awal -0.3
Index:  3 label_awal 0.5
Index:  4 label_awal 0.3499999999999999
Index:  5 label_awal -0.25357142857142856
Index:  6 label_awal 0.0
Index:  7 label_awal 0.5
Index:  8 label_awal 0.05
Index:  9 label_awal 0.22857142857142856
Index:  10 label_awal -0.6999999999999998
Index:  11 label_awal 0.0
Index:  12 label_awal 0.0
Index:  13 label_awal 0.3
Index:  14 label_awal -0.5
Index:  15 label_awal 0.0
Index:  16 label_awal 0.8
Index:  17 label_awal 0.0
Index:  18 label_awal 0.0
Index:  19 label_awal 0.0
Index:  20 label_awal 0.0
Index:  21 label_awal 0.7
Index:  22 label_awal 0.25625
Index:  23 label_awal 0.0
Index:  24 label_awal 0.0
Index:  25 label_awal 0.1
Index:  26 label_awal -0.13333333333333333
Index:  27 label_awal 0.0
Index:  28 label_awal 0.175
Index:  29 label_awal 0.0
Index:  30 label_awal 0.2875
Index:  31 label_awal 0.0
Index:  32 label_awal 0.7
Index:  33 label_awal 0.0
Index:  34 label_awal 0.0
Index:  35 label_awal 0.0
Index:  36 label_awal 0.0
Index:  37 label_awal 0.0
Index:  38 label_awal 0.16666666666666666
Index:  39 label_awal 0.0
Index:  40 label_awal -0.05
Index:  41 label_awal 0.0
Index:  42 label_awal 0.0
Index:  43 label_awal 0.0
Index:  44 label_awal -0.11666666666666668
Index:  45 label_awal 0.0
Index:  46 label_awal -0.15555555555555559
Index:  47 label_awal 0.0
Index:  48 label_awal 0.16666666666666666
Index:  49 label_awal 0.0
Index:  50 label_awal 0.375
Index:  51 label_awal 0.0
Index:  52 label_awal 0.3
Index:  53 label_awal 0.0
Index:  54 label_awal 0.0
Index:  55 label_awal 0.0
Index:  56 label_awal 0.0
Index:  57 label_awal 0.0
Index:  58 label_awal 0.0
Index:  59 label_awal 0.0
Index:  60 label_awal -0.25
Index:  61 label_awal 0.3
Index:  62 label_awal -0.5
Index:  63 label_awal 0.3
Index:  64 label_awal 0.0
Index:  65 label_awal 0.3
Index:  66 label_awal 0.4
Index:  67 label_awal 0.5
Index:  68 label_awal 0.0
Index:  69 label_awal 0.7
Index:  70 label_awal 0.39999999999999997
Index:  71 label_awal 0.0
Index:  72 label_awal 0.0
Index:  73 label_awal 0.10833333333333332
Index:  74 label_awal 0.0
Index:  75 label_awal 0.6
Index:  76 label_awal 0.0
Index:  77 label_awal 0.0
Index:  78 label_awal 0.0
Index:  79 label_awal 0.35714285714285715
Index:  80 label_awal 0.4
Index:  81 label_awal 0.33333333333333337
Index:  82 label_awal 0.0
Index:  83 label_awal 0.0
Index:  84 label_awal 0.3333333333333333
Index:  85 label_awal 0.4681818181818182
Index:  86 label_awal 0.5
Index:  87 label_awal 0.7
Index:  88 label_awal 0.55
Index:  89 label_awal 0.0
Index:  90 label_awal 0.0
Index:  91 label_awal 0.0
Index:  92 label_awal 0.0
Index:  93 label_awal 0.16666666666666666
Index:  94 label_awal 0.0
Index:  95 label_awal 0.0
Index:  96 label_awal 0.1

In [3]:
df.head()

                                     comment_english label_awal
0             ['tooly', 'telkomsel', 'sngt', 'jlek']        0.0
1  ['congratulations', 'hope', 'blessing', 'amana...        0.0
2  ['change', 'directors', 'complained', 'beres',...       -0.3
3  ['min', 'already', 'love', 'yesterday', 'bomb'...        0.5
4  ['reply', 'sis', 'wait', 'gift', 'giveaway', '...       0.35

In [4]:
df['label_awal'].value_counts()

 0.000000    51
 0.300000     5
 0.500000     4
 0.700000     4
 0.166667     3
 0.400000     2
 0.100000     2
-0.500000     2
 0.600000     1
-0.116667     1
 0.108333     1
 0.357143     1
 0.400000     1
 0.333333     1
 0.333333     1
-0.250000     1
 0.375000     1
 0.468182     1
-0.155556     1
 0.287500     1
-0.050000     1
-0.300000     1
 0.175000     1
-0.133333     1
 0.256250     1
 0.800000     1
-0.700000     1
 0.228571     1
 0.050000     1
-0.253571     1
 0.350000     1
 0.550000     1
Name: label_awal, dtype: int64

In [5]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] > 0.0:
        label.append("positive")
    else:
        label.append("negative")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                      comment_english     label
0              ['tooly', 'telkomsel', 'sngt', 'jlek']  negative
1   ['congratulations', 'hope', 'blessing', 'amana...  negative
2   ['change', 'directors', 'complained', 'beres',...  negative
3   ['min', 'already', 'love', 'yesterday', 'bomb'...  positive
4   ['reply', 'sis', 'wait', 'gift', 'giveaway', '...  positive
..                                                ...       ...
92                         ['sukse', 'telkomsel', '']  negative
93                                     ['steady', '']  positive
94  ['guna', 'tlkomsel', 'number', 'udh', 'gift', ...  negative
95                ['send', 'gift', 'giveaway', 'min']  negative
96                                            ['wow']  positive

[97 rows x 2 columns]

In [6]:
df['label'].value_counts()

negative    61
positive    36
Name: label, dtype: int64

In [7]:
df.to_excel('labeling_databersih_instagram_indihome_5.xlsx')