In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\INSTAGRAM_TELKOMSEL\data bersih_translate instagram telkomsel\databersih_english_instagram_telkomsel_12.xlsx', usecols=columns)
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.0
Index:  1 label_awal 0.0
Index:  2 label_awal 0.3333333333333333
Index:  3 label_awal 0.0
Index:  4 label_awal 0.3333333333333333
Index:  5 label_awal 0.0
Index:  6 label_awal 0.0
Index:  7 label_awal 0.0
Index:  8 label_awal 0.0
Index:  9 label_awal 0.0
Index:  10 label_awal 0.5
Index:  11 label_awal 0.0
Index:  12 label_awal 0.0
Index:  13 label_awal 0.55
Index:  14 label_awal 0.5
Index:  15 label_awal 0.5
Index:  16 label_awal 0.0
Index:  17 label_awal 0.43333333333333335
Index:  18 label_awal 0.0
Index:  19 label_awal 0.0
Index:  20 label_awal 0.0
Index:  21 label_awal 0.0
Index:  22 label_awal 0.16666666666666666
Index:  23 label_awal 0.0
Index:  24 label_awal 0.0
Index:  25 label_awal 0.0
Index:  26 label_awal 0.32499999999999996
Index:  27 label_awal 0.0
Index:  28 label_awal 0.0
Index:  29 label_awal 0.2
Index:  30 label_awal 0.8
Index:  31 label_awal 0.0
Index:  32 label_awal 0.0
Index:  33 label_awal 0.2
Index:  34 label_awal 0.0
Index:  35 label_awal 0.0
Index:  36 label_awal 0.0
Index:  37 label_awal 0.0
Index:  38 label_awal 0.0
Index:  39 label_awal 0.0
Index:  40 label_awal 0.0
Index:  41 label_awal 0.3772727272727273
Index:  42 label_awal 0.0
Index:  43 label_awal 0.0
Index:  44 label_awal 0.0
Index:  45 label_awal 0.0
Index:  46 label_awal 0.0
Index:  47 label_awal 0.0
Index:  48 label_awal 0.25
Index:  49 label_awal 0.0
Index:  50 label_awal 0.0
Index:  51 label_awal 0.0
Index:  52 label_awal 0.0
Index:  53 label_awal 0.0
Index:  54 label_awal 0.0
Index:  55 label_awal -0.19642857142857142
Index:  56 label_awal 0.25
Index:  57 label_awal -0.4
Index:  58 label_awal 0.0
Index:  59 label_awal 0.7
Index:  60 label_awal -0.4
Index:  61 label_awal 0.375
Index:  62 label_awal 0.2
Index:  63 label_awal 0.0
Index:  64 label_awal 0.0
Index:  65 label_awal 0.0
Index:  66 label_awal 0.0
Index:  67 label_awal 0.0
Index:  68 label_awal 0.0
Index:  69 label_awal 0.0
Index:  70 label_awal 0.375
Index:  71 label_awal 0.325
Index:  72 label_awal 0.7
Index:  73 label_awal 0.375
Index:  74 label_awal 0.0
Index:  75 label_awal 0.0
Index:  76 label_awal 0.0
Index:  77 label_awal 0.13888888888888892
Index:  78 label_awal 0.13888888888888892
Index:  79 label_awal 0.24
Index:  80 label_awal 0.0
Index:  81 label_awal 0.0
Index:  82 label_awal 0.8
Index:  83 label_awal 0.8
Index:  84 label_awal 0.0
Index:  85 label_awal 0.0
Index:  86 label_awal 0.07142857142857142
Index:  87 label_awal 0.0
Index:  88 label_awal 0.35
Index:  89 label_awal 0.2
Index:  90 label_awal 0.0
Index:  91 label_awal 0.0
Index:  92 label_awal 0.0
Index:  93 label_awal 0.0
Index:  94 label_awal 0.0
Index:  95 label_awal 0.0
Index:  96 label_awal 0.0
Index:  97 label_awal 0.0
Index:  98 label_awal 0.25
Index:  99 label_awal 0.0
Index:  100 label_awal 0.0
Index:  101 label_awal 0.0
Index:  102 label_awal 0.0
Index:  103 label_awal 0.0
Index:  104 label_awal 0.0
Index:  105 label_awal 0.0
Index:  106 label_awal 0.0
Index:  107 label_awal 0.0
Index:  108 label_awal 0.0
Index:  109 label_awal 0.0
Index:  110 label_awal 0.3333333333333333
Index:  111 label_awal 0.3333333333333333
Index:  112 label_awal 0.0
Index:  113 label_awal 0.0
Index:  114 label_awal 0.0

In [3]:
df.head()

                        comment_english label_awal
0                              ['done']        0.0
1                              ['done']        0.0
2  ['hope', 'times', 'lucky', 'aamiin']   0.333333
3                              ['done']        0.0
4                     ['hope', 'lucky']   0.333333

In [4]:
df['label_awal'].value_counts()

 0.000000    79
 0.200000     4
 0.333333     4
 0.375000     3
 0.800000     3
 0.250000     3
 0.500000     3
-0.400000     2
 0.700000     2
 0.138889     2
 0.325000     1
 0.166667     1
 0.433333     1
 0.377273     1
 0.550000     1
-0.196429     1
 0.325000     1
 0.240000     1
 0.071429     1
 0.350000     1
Name: label_awal, dtype: int64

In [5]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] > 0.0:
        label.append("positive")
    else:
        label.append("negative")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                       comment_english     label
0                                             ['done']  negative
1                                             ['done']  negative
2                 ['hope', 'times', 'lucky', 'aamiin']  positive
3                                             ['done']  negative
4                                    ['hope', 'lucky']  positive
..                                                 ...       ...
110          ['guna', 'loyal', 'telkomsel', 'quality']  positive
111  ['subscribe', 'loyal', 'telkomsel', 'ngak', 'c...  positive
112                              ['signal', 'emotion']  negative
113                                     ['', 'get', "]  negative
114           ['min', 'narrated', 'gift', 'pulse', '']  negative

[115 rows x 2 columns]

In [6]:
df['label'].value_counts()

negative    82
positive    33
Name: label, dtype: int64

In [7]:
df.to_excel('labeling_databersih_instagram_indihome_12.xlsx')