In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\YOUTUBE_INDIHOME\databersih_english_youtube_indihome\databersih_english_youtube_indihome_9.xlsx', usecols=columns)
df.head(2000)

                                       comment_english
0    ['Alhamdulillah', 'Surabaya', 'UDH', 'Disturbs...
1    ['Palembang', 'ilang', 'arises', 'hope', 'fast...
2            ['Subscribe', 'compensation', 'Indihome']
3    ['Employees', 'Work', 'From', 'Home', 'Loss', ...
4    ['', 'era', 'subscribe', 'internet', 'mending'...
..                                                 ...
259                         ['', 'Change', 'card', '']
260                           ['Sat', 'Login', 'Epep']
261                             ['Telkomsel', 'anjgg']
262                            ['Connect', 'Game', '']
263  ['', 'skolah', 'cave', 'kya', 'open','ogle ','...

[264 rows x 1 columns]

In [3]:
df['comment_english'] = df['comment_english'].str.lower()
df.head(2000)

                                       comment_english
0    ['alhamdulillah', 'surabaya', 'udh', 'disturbs...
1    ['palembang', 'ilang', 'arises', 'hope', 'fast...
2            ['subscribe', 'compensation', 'indihome']
3    ['employees', 'work', 'from', 'home', 'loss', ...
4    ['', 'era', 'subscribe', 'internet', 'mending'...
..                                                 ...
259                         ['', 'change', 'card', '']
260                           ['sat', 'login', 'epep']
261                             ['telkomsel', 'anjgg']
262                            ['connect', 'game', '']
263  ['', 'skolah', 'cave', 'kya', 'open','ogle ','...

[264 rows x 1 columns]

In [4]:
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.0
Index:  1 label_awal 0.43333333333333335
Index:  2 label_awal 0.0
Index:  3 label_awal 0.0
Index:  4 label_awal 0.42500000000000004
Index:  5 label_awal 0.14285714285714285
Index:  6 label_awal 0.0
Index:  7 label_awal 0.0
Index:  8 label_awal 0.0
Index:  9 label_awal 0.0
Index:  10 label_awal -0.1
Index:  11 label_awal 0.0
Index:  12 label_awal -0.1
Index:  13 label_awal 0.0
Index:  14 label_awal 0.3333333333333333
Index:  15 label_awal 0.0
Index:  16 label_awal 0.0
Index:  17 label_awal 0.4166666666666667
Index:  18 label_awal 0.4
Index:  19 label_awal -0.4
Index:  20 label_awal 0.0
Index:  21 label_awal -0.1
Index:  22 label_awal 0.0
Index:  23 label_awal 0.2
Index:  24 label_awal 0.0
Index:  25 label_awal 0.0
Index:  26 label_awal 0.0
Index:  27 label_awal 0.0
Index:  28 label_awal 0.2
Index:  29 label_awal 0.0
Index:  30 label_awal 0.0
Index:  31 label_awal 0.0
Index:  32 label_awal 0.0
Index:  33 label_awal 0.0
Index:  34 label_awal 0.0
Index:  35 label_awal 0.0
Index:  36 label_awal 0.2
Index:  37 label_awal -0.08333333333333334
Index:  38 label_awal -0.5
Index:  39 label_awal -0.2111111111111111
Index:  40 label_awal 0.18333333333333335
Index:  41 label_awal -0.2175925925925926
Index:  42 label_awal 0.21428571428571427
Index:  43 label_awal 0.04722222222222221
Index:  44 label_awal 0.0
Index:  45 label_awal -0.5
Index:  46 label_awal 0.0
Index:  47 label_awal -0.2
Index:  48 label_awal -0.22083333333333333
Index:  49 label_awal -0.5
Index:  50 label_awal -0.15833333333333333
Index:  51 label_awal 0.0
Index:  52 label_awal 0.0
Index:  53 label_awal 0.049999999999999996
Index:  54 label_awal -0.5
Index:  55 label_awal -0.10000000000000002
Index:  56 label_awal -0.03333333333333335
Index:  57 label_awal 0.18333333333333335
Index:  58 label_awal 0.07499999999999997
Index:  59 label_awal 0.4
Index:  60 label_awal 0.7
Index:  61 label_awal -0.2
Index:  62 label_awal 0.0
Index:  63 label_awal 0.0
Index:  64 label_awal 0.024999999999999994
Index:  65 label_awal -0.15555555555555559
Index:  66 label_awal -0.39999999999999997
Index:  67 label_awal 0.0
Index:  68 label_awal 0.062244897959183663
Index:  69 label_awal -0.3
Index:  70 label_awal -0.4666666666666666
Index:  71 label_awal 0.0
Index:  72 label_awal 0.0
Index:  73 label_awal 0.5
Index:  74 label_awal 0.0
Index:  75 label_awal -0.4
Index:  76 label_awal -0.51
Index:  77 label_awal -0.15000000000000002
Index:  78 label_awal 0.13333333333333333
Index:  79 label_awal -0.020833333333333287
Index:  80 label_awal 0.0
Index:  81 label_awal 0.0
Index:  82 label_awal -0.43333333333333335
Index:  83 label_awal -0.5
Index:  84 label_awal 0.0
Index:  85 label_awal 0.022222222222222213
Index:  86 label_awal 0.5
Index:  87 label_awal 0.0
Index:  88 label_awal 0.0
Index:  89 label_awal 0.0
Index:  90 label_awal -0.041666666666666644
Index:  91 label_awal -0.2
Index:  92 label_awal -0.5
Index:  93 label_awal 0.45
Index:  94 label_awal 0.12499999999999999
Index:  95 label_awal 0.0
Index:  96 label_awal 0.0
Index:  97 label_awal 0.0
Index:  98 label_awal 0.4
Index:  99 label_awal 0.0
Index:  100 label_awal 0.0
Index:  101 label_awal 0.05833333333333335
Index:  102 label_awal -0.7
Index:  103 label_awal 0.0
Index:  104 label_awal -0.5
Index:  105 label_awal 0.2
Index:  106 label_awal 0.7
Index:  107 label_awal 0.0
Index:  108 label_awal 0.0
Index:  109 label_awal -0.26666666666666666
Index:  110 label_awal -0.4
Index:  111 label_awal 0.0
Index:  112 label_awal 0.0
Index:  113 label_awal 0.0
Index:  114 label_awal 0.0
Index:  115 label_awal 0.0
Index:  116 label_awal -0.1277777777777778
Index:  117 label_awal -0.30000000000000004
Index:  118 label_awal 0.0
Index:  119 label_awal 0.19999999999999996
Index:  120 label_awal 0.41818181818181815
Index:  121 label_awal 0.0
Index:  122 label_awal 0.0
Index:  123 label_awal 0.0
Index:  124 label_awal 0.0
Index:  125 label_awal 0.0
Index:  126 label_awal 0.2833333333333333
Index:  127 label_awal 0.0
Index:  128 label_awal 0.0
Index:  129 label_awal 0.4166666666666667
Index:  130 label_awal 0.15
Index:  131 label_awal 0.0
Index:  132 label_awal -0.15555555555555559
Index:  133 label_awal 0.0
Index:  134 label_awal 0.3
Index:  135 label_awal 0.0
Index:  136 label_awal -0.04166666666666666
Index:  137 label_awal 0.0
Index:  138 label_awal -0.3333333333333333
Index:  139 label_awal 0.0
Index:  140 label_awal 0.4166666666666667
Index:  141 label_awal 0.0
Index:  142 label_awal 0.0
Index:  143 label_awal 0.0
Index:  144 label_awal 0.0
Index:  145 label_awal 0.4166666666666667
Index:  146 label_awal 0.0
Index:  147 label_awal 0.0
Index:  148 label_awal 0.0
Index:  149 label_awal 0.0
Index:  150 label_awal 0.0
Index:  151 label_awal 0.0
Index:  152 label_awal 0.0
Index:  153 label_awal 0.0
Index:  154 label_awal 0.44999999999999996
Index:  155 label_awal 0.5
Index:  156 label_awal -0.5
Index:  157 label_awal -0.1277777777777778
Index:  158 label_awal 0.5
Index:  159 label_awal -0.016666666666666673
Index:  160 label_awal -0.2
Index:  161 label_awal 0.0
Index:  162 label_awal 0.0
Index:  163 label_awal -0.5
Index:  164 label_awal -0.30000000000000004
Index:  165 label_awal -0.5
Index:  166 label_awal 0.0
Index:  167 label_awal 0.0
Index:  168 label_awal -0.5
Index:  169 label_awal -0.22083333333333333
Index:  170 label_awal 0.19999999999999998
Index:  171 label_awal -0.29333333333333333
Index:  172 label_awal -0.7142857142857143
Index:  173 label_awal -0.04999999999999999
Index:  174 label_awal -0.5
Index:  175 label_awal 0.0
Index:  176 label_awal 0.0
Index:  177 label_awal 0.00416666666666668
Index:  178 label_awal 0.7
Index:  179 label_awal 0.3333333333333333
Index:  180 label_awal 0.0
Index:  181 label_awal 0.4
Index:  182 label_awal 0.0
Index:  183 label_awal -0.2
Index:  184 label_awal 0.425
Index:  185 label_awal -0.5
Index:  186 label_awal -0.1261904761904762
Index:  187 label_awal 0.5
Index:  188 label_awal 0.0
Index:  189 label_awal 0.0
Index:  190 label_awal 0.1
Index:  191 label_awal 0.2
Index:  192 label_awal -0.175
Index:  193 label_awal 0.0
Index:  194 label_awal -0.43333333333333335
Index:  195 label_awal 0.45
Index:  196 label_awal -0.5
Index:  197 label_awal -0.475
Index:  198 label_awal 0.0
Index:  199 label_awal 0.25
Index:  200 label_awal -0.038095238095238106
Index:  201 label_awal 0.0
Index:  202 label_awal 0.4
Index:  203 label_awal 0.24814814814814815
Index:  204 label_awal -0.18888888888888888
Index:  205 label_awal 0.4
Index:  206 label_awal 0.0
Index:  207 label_awal 0.0
Index:  208 label_awal 0.0
Index:  209 label_awal 0.2
Index:  210 label_awal 0.0
Index:  211 label_awal -0.5
Index:  212 label_awal 0.0
Index:  213 label_awal 0.7
Index:  214 label_awal 0.0
Index:  215 label_awal -0.04999999999999999
Index:  216 label_awal -0.5
Index:  217 label_awal -0.6
Index:  218 label_awal 0.4
Index:  219 label_awal -0.1
Index:  220 label_awal -0.5
Index:  221 label_awal -0.3277777777777778
Index:  222 label_awal -0.5
Index:  223 label_awal 0.0
Index:  224 label_awal -0.12499999999999999
Index:  225 label_awal 0.25
Index:  226 label_awal -0.4666666666666666
Index:  227 label_awal 0.0
Index:  228 label_awal 0.4
Index:  229 label_awal 0.0
Index:  230 label_awal -0.5
Index:  231 label_awal 0.0
Index:  232 label_awal 0.0
Index:  233 label_awal 0.4
Index:  234 label_awal 0.0
Index:  235 label_awal 0.0
Index:  236 label_awal 0.4
Index:  237 label_awal -0.5
Index:  238 label_awal -0.5
Index:  239 label_awal -0.5
Index:  240 label_awal -0.15555555555555559
Index:  241 label_awal 0.4
Index:  242 label_awal 0.45
Index:  243 label_awal 0.0
Index:  244 label_awal 0.0
Index:  245 label_awal -0.7
Index:  246 label_awal -0.2857142857142857
Index:  247 label_awal 0.0
Index:  248 label_awal -0.5
Index:  249 label_awal -0.5
Index:  250 label_awal 0.05833333333333335
Index:  251 label_awal 0.15
Index:  252 label_awal 0.0
Index:  253 label_awal 0.0
Index:  254 label_awal -0.9750000000000001
Index:  255 label_awal 0.0
Index:  256 label_awal 0.0
Index:  257 label_awal 0.0
Index:  258 label_awal -0.5
Index:  259 label_awal 0.0
Index:  260 label_awal 0.0
Index:  261 label_awal 0.0
Index:  262 label_awal -0.4
Index:  263 label_awal 0.0

In [5]:
df.head()

                                     comment_english label_awal
0  ['alhamdulillah', 'surabaya', 'udh', 'disturbs...        0.0
1  ['palembang', 'ilang', 'arises', 'hope', 'fast...   0.433333
2          ['subscribe', 'compensation', 'indihome']        0.0
3  ['employees', 'work', 'from', 'home', 'loss', ...        0.0
4  ['', 'era', 'subscribe', 'internet', 'mending'...      0.425

In [6]:
df['label_awal'].value_counts()

 0.000000    116
-0.500000     25
 0.400000     11
 0.200000      6
-0.200000      5
            ...
-0.020833      1
 0.433333      1
-0.041667      1
 0.125000      1
-0.975000      1
Name: label_awal, Length: 74, dtype: int64

In [7]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] <= 0.0:
        label.append("negative")
    else:
        label.append("positive")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                       comment_english     label
0    ['alhamdulillah', 'surabaya', 'udh', 'disturbs...  negative
1    ['palembang', 'ilang', 'arises', 'hope', 'fast...  positive
2            ['subscribe', 'compensation', 'indihome']  negative
3    ['employees', 'work', 'from', 'home', 'loss', ...  negative
4    ['', 'era', 'subscribe', 'internet', 'mending'...  positive
..                                                 ...       ...
259                         ['', 'change', 'card', '']  negative
260                           ['sat', 'login', 'epep']  negative
261                             ['telkomsel', 'anjgg']  negative
262                            ['connect', 'game', '']  negative
263  ['', 'skolah', 'cave', 'kya', 'open','ogle ','...  negative

[264 rows x 2 columns]

In [8]:
df['label'].value_counts()

negative    199
positive     65
Name: label, dtype: int64

In [9]:
df.to_excel('labeling_databersih_youtube_indihome_9.xlsx')