In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\YOUTUBE_INDIHOME\databersih_english_youtube_indihome\databersih_english_youtube_indihome_6.xlsx', usecols=columns)
df.head(2000)

                                      comment_english
0   ['MaasyaAllah', 'Success', 'Program', 'New', '...
1                                          ['steady']
2                   ['Sukses', 'Trus', 'Hendraaa', "]
3    ['Success', 'Channel', 'Moga', 'Telkom', 'Jaya']
4   ['Cool', 'duet', 'mas', 'bro', 'hendra', 'aisy...
5                          ['Bravo', 'Selatalks', '']
6   ['Wowww', 'mantappp', 'times', 'WarbiaSahhh', ...
7    ['Spirit', 'Teruuuus', 'Moga', 'Telkom', 'Jaya']
8          ['Success', 'TRS', 'Hendra', 'Suryana', "]
9                               ['Healthy', 'Hendra']
10        ['Success', 'Hendra', 'Witel', 'South', '']
11                                 ['Jaya', 'Hendra']
12  ['Good', 'Lucky', 'Bang', 'Hendra', 'Mpok', 'A...
13                                           ['', '']

In [3]:
df['comment_english'] = df['comment_english'].str.lower()
df.head(2000)

                                      comment_english
0   ['maasyaallah', 'success', 'program', 'new', '...
1                                          ['steady']
2                   ['sukses', 'trus', 'hendraaa', "]
3    ['success', 'channel', 'moga', 'telkom', 'jaya']
4   ['cool', 'duet', 'mas', 'bro', 'hendra', 'aisy...
5                          ['bravo', 'selatalks', '']
6   ['wowww', 'mantappp', 'times', 'warbiasahhh', ...
7    ['spirit', 'teruuuus', 'moga', 'telkom', 'jaya']
8          ['success', 'trs', 'hendra', 'suryana', "]
9                               ['healthy', 'hendra']
10        ['success', 'hendra', 'witel', 'south', '']
11                                 ['jaya', 'hendra']
12  ['good', 'lucky', 'bang', 'hendra', 'mpok', 'a...
13                                           ['', '']

In [4]:
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.3090909090909091
Index:  1 label_awal 0.16666666666666666
Index:  2 label_awal 0.0
Index:  3 label_awal 0.3
Index:  4 label_awal 0.32499999999999996
Index:  5 label_awal 0.0
Index:  6 label_awal 0.0
Index:  7 label_awal 0.0
Index:  8 label_awal 0.3
Index:  9 label_awal 0.5
Index:  10 label_awal 0.3
Index:  11 label_awal 0.0
Index:  12 label_awal 0.5166666666666666
Index:  13 label_awal 0.0

In [5]:
df.head()

                                     comment_english label_awal
0  ['maasyaallah', 'success', 'program', 'new', '...   0.309091
1                                         ['steady']   0.166667
2                  ['sukses', 'trus', 'hendraaa', "]        0.0
3   ['success', 'channel', 'moga', 'telkom', 'jaya']        0.3
4  ['cool', 'duet', 'mas', 'bro', 'hendra', 'aisy...      0.325

In [6]:
df['label_awal'].value_counts()

0.000000    6
0.300000    3
0.309091    1
0.166667    1
0.325000    1
0.500000    1
0.516667    1
Name: label_awal, dtype: int64

In [7]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] < 0.0:
        label.append("negative")
    else:
        label.append("positive")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                      comment_english     label
0   ['maasyaallah', 'success', 'program', 'new', '...  positive
1                                          ['steady']  positive
2                   ['sukses', 'trus', 'hendraaa', "]  positive
3    ['success', 'channel', 'moga', 'telkom', 'jaya']  positive
4   ['cool', 'duet', 'mas', 'bro', 'hendra', 'aisy...  positive
5                          ['bravo', 'selatalks', '']  positive
6   ['wowww', 'mantappp', 'times', 'warbiasahhh', ...  positive
7    ['spirit', 'teruuuus', 'moga', 'telkom', 'jaya']  positive
8          ['success', 'trs', 'hendra', 'suryana', "]  positive
9                               ['healthy', 'hendra']  positive
10        ['success', 'hendra', 'witel', 'south', '']  positive
11                                 ['jaya', 'hendra']  positive
12  ['good', 'lucky', 'bang', 'hendra', 'mpok', 'a...  positive
13                                           ['', '']  positive

In [8]:
df['label'].value_counts()

positive    14
Name: label, dtype: int64

In [9]:
df.to_excel('labeling_databersih_youtube_indihome_6.xlsx')