In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\YOUTUBE_INDIHOME\databersih_english_youtube_indihome\databersih_english_youtube_indihome_4.xlsx', usecols=columns)
df.head(2000)

                                       comment_english
0     ['Auto', 'subscribe', 'bang', 'answer', 'heart']
1           ['Pay', 'RBAN', 'continued', 'Normal', '']
2    ['Thanks', 'bro', 'until', 'alternating', 'ATM...
3    ['I', 'natural', 'shocked', 'right', 'listen',...
4    ['shocked', 'bang', 'just', 'thousand', 'pay',...
..                                                 ...
157  ['bang', 'already', 'list', 'online', 'telepho...
158                                  ['lag', 'Bangat']
159                  ['Indihome', 'net', 'Nge', 'lag']
160                    ['Indihome', 'Mending', 'Mola']
161  ['bro', 'list', 'list', 'Mbps', 'lot', 'forgiv...

[162 rows x 1 columns]

In [3]:
df['comment_english'] = df['comment_english'].str.lower()
df.head(2000)

                                       comment_english
0     ['auto', 'subscribe', 'bang', 'answer', 'heart']
1           ['pay', 'rban', 'continued', 'normal', '']
2    ['thanks', 'bro', 'until', 'alternating', 'atm...
3    ['i', 'natural', 'shocked', 'right', 'listen',...
4    ['shocked', 'bang', 'just', 'thousand', 'pay',...
..                                                 ...
157  ['bang', 'already', 'list', 'online', 'telepho...
158                                  ['lag', 'bangat']
159                  ['indihome', 'net', 'nge', 'lag']
160                    ['indihome', 'mending', 'mola']
161  ['bro', 'list', 'list', 'mbps', 'lot', 'forgiv...

[162 rows x 1 columns]

In [4]:
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.0
Index:  1 label_awal 0.15
Index:  2 label_awal 0.2
Index:  3 label_awal 0.19591836734693877
Index:  4 label_awal -0.054999999999999986
Index:  5 label_awal -0.24999999999999997
Index:  6 label_awal -0.2916666666666667
Index:  7 label_awal 0.2
Index:  8 label_awal 0.4166666666666667
Index:  9 label_awal 0.2
Index:  10 label_awal -0.004761904761904745
Index:  11 label_awal 0.0
Index:  12 label_awal 0.0
Index:  13 label_awal 0.0
Index:  14 label_awal 0.0
Index:  15 label_awal -0.14166666666666664
Index:  16 label_awal 0.19047619047619047
Index:  17 label_awal 0.2
Index:  18 label_awal 0.275
Index:  19 label_awal -0.3
Index:  20 label_awal -0.027777777777777752
Index:  21 label_awal -0.04999999999999999
Index:  22 label_awal 0.2857142857142857
Index:  23 label_awal -0.04999999999999999
Index:  24 label_awal 0.45
Index:  25 label_awal 0.0
Index:  26 label_awal 0.1
Index:  27 label_awal 0.2222222222222222
Index:  28 label_awal 0.1
Index:  29 label_awal 0.0
Index:  30 label_awal 0.0
Index:  31 label_awal -0.24999999999999997
Index:  32 label_awal 0.0
Index:  33 label_awal 0.19999999999999998
Index:  34 label_awal 0.7000000000000001
Index:  35 label_awal -0.275
Index:  36 label_awal 0.5
Index:  37 label_awal -0.14166666666666666
Index:  38 label_awal 0.0
Index:  39 label_awal -0.4
Index:  40 label_awal -0.20714285714285713
Index:  41 label_awal 0.2
Index:  42 label_awal 0.0
Index:  43 label_awal 0.2
Index:  44 label_awal 0.0
Index:  45 label_awal 0.0
Index:  46 label_awal 0.0
Index:  47 label_awal -0.7
Index:  48 label_awal 0.2
Index:  49 label_awal 0.16666666666666666
Index:  50 label_awal 0.0
Index:  51 label_awal 0.4
Index:  52 label_awal 0.4
Index:  53 label_awal 0.2857142857142857
Index:  54 label_awal 0.0
Index:  55 label_awal 0.0
Index:  56 label_awal 0.0
Index:  57 label_awal 0.0
Index:  58 label_awal 0.2333333333333333
Index:  59 label_awal -0.3
Index:  60 label_awal 0.3666666666666667
Index:  61 label_awal 0.0
Index:  62 label_awal -0.7
Index:  63 label_awal -0.2
Index:  64 label_awal -0.7
Index:  65 label_awal -0.2
Index:  66 label_awal 0.0
Index:  67 label_awal 0.4
Index:  68 label_awal 0.0
Index:  69 label_awal 0.0
Index:  70 label_awal 0.4
Index:  71 label_awal 0.0
Index:  72 label_awal -0.24999999999999997
Index:  73 label_awal 0.0
Index:  74 label_awal 0.1173469387755102
Index:  75 label_awal 0.1
Index:  76 label_awal 0.15000000000000002
Index:  77 label_awal 0.0
Index:  78 label_awal 0.4
Index:  79 label_awal 0.4166666666666667
Index:  80 label_awal 0.15
Index:  81 label_awal -0.7
Index:  82 label_awal 0.0
Index:  83 label_awal 0.0
Index:  84 label_awal 0.0
Index:  85 label_awal 0.13636363636363635
Index:  86 label_awal 0.2857142857142857
Index:  87 label_awal 0.0
Index:  88 label_awal -0.15555555555555559
Index:  89 label_awal -0.10476190476190476
Index:  90 label_awal -0.6499999999999999
Index:  91 label_awal -0.15
Index:  92 label_awal 0.0
Index:  93 label_awal 0.0
Index:  94 label_awal 0.0
Index:  95 label_awal -0.6
Index:  96 label_awal -0.4
Index:  97 label_awal -0.3
Index:  98 label_awal 0.0
Index:  99 label_awal 0.0
Index:  100 label_awal 0.0
Index:  101 label_awal 0.0
Index:  102 label_awal 0.1
Index:  103 label_awal 0.0
Index:  104 label_awal 0.0
Index:  105 label_awal 0.0
Index:  106 label_awal 0.0
Index:  107 label_awal -0.3444444444444444
Index:  108 label_awal -0.13333333333333333
Index:  109 label_awal 0.0
Index:  110 label_awal 0.0
Index:  111 label_awal 0.0
Index:  112 label_awal 0.0
Index:  113 label_awal 0.0
Index:  114 label_awal 0.14285714285714285
Index:  115 label_awal 0.0
Index:  116 label_awal 0.0
Index:  117 label_awal 0.0
Index:  118 label_awal 0.4
Index:  119 label_awal 0.2857142857142857
Index:  120 label_awal 0.0
Index:  121 label_awal 0.31785714285714284
Index:  122 label_awal 0.0
Index:  123 label_awal 0.0
Index:  124 label_awal 0.0
Index:  125 label_awal 0.1
Index:  126 label_awal 0.03333333333333333
Index:  127 label_awal -0.025
Index:  128 label_awal 0.11666666666666665
Index:  129 label_awal 0.0
Index:  130 label_awal 0.0
Index:  131 label_awal 0.0
Index:  132 label_awal 0.0
Index:  133 label_awal 0.3666666666666667
Index:  134 label_awal 0.0
Index:  135 label_awal 0.2
Index:  136 label_awal 0.05
Index:  137 label_awal 0.3238095238095238
Index:  138 label_awal 0.2
Index:  139 label_awal 0.4
Index:  140 label_awal -0.5
Index:  141 label_awal 0.0
Index:  142 label_awal 0.0
Index:  143 label_awal 0.0
Index:  144 label_awal 0.0
Index:  145 label_awal 0.1
Index:  146 label_awal 0.0
Index:  147 label_awal 0.0
Index:  148 label_awal 0.0
Index:  149 label_awal 0.0
Index:  150 label_awal 0.0
Index:  151 label_awal 0.0
Index:  152 label_awal 0.0
Index:  153 label_awal -0.1111111111111111
Index:  154 label_awal 0.0
Index:  155 label_awal -0.5
Index:  156 label_awal 0.2765151515151515
Index:  157 label_awal 0.19285714285714284
Index:  158 label_awal 0.0
Index:  159 label_awal 0.0
Index:  160 label_awal 0.0
Index:  161 label_awal 0.0

In [5]:
df.head()

                                     comment_english label_awal
0   ['auto', 'subscribe', 'bang', 'answer', 'heart']        0.0
1         ['pay', 'rban', 'continued', 'normal', '']       0.15
2  ['thanks', 'bro', 'until', 'alternating', 'atm...        0.2
3  ['i', 'natural', 'shocked', 'right', 'listen',...   0.195918
4  ['shocked', 'bang', 'just', 'thousand', 'pay',...     -0.055

In [6]:
df['label_awal'].value_counts()

 0.000000    74
 0.200000     9
 0.400000     7
 0.100000     6
 0.285714     4
-0.700000     4
-0.300000     3
-0.250000     3
-0.200000     2
 0.366667     2
-0.500000     2
 0.416667     2
-0.050000     2
 0.150000     2
-0.400000     2
-0.291667     1
-0.344444     1
-0.104762     1
-0.650000     1
-0.150000     1
-0.600000     1
 0.317857     1
-0.133333     1
 0.142857     1
 0.136364     1
 0.033333     1
-0.025000     1
 0.116667     1
 0.050000     1
 0.323810     1
-0.111111     1
 0.276515     1
-0.155556     1
 0.233333     1
 0.150000     1
 0.222222     1
-0.004762     1
-0.141667     1
 0.190476     1
 0.275000     1
-0.027778     1
 0.450000     1
-0.055000     1
 0.200000     1
 0.117347     1
 0.700000     1
-0.275000     1
 0.500000     1
-0.141667     1
-0.207143     1
 0.166667     1
 0.195918     1
 0.192857     1
Name: label_awal, dtype: int64

In [7]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] < 0.0:
        label.append("negative")
    else:
        label.append("positive")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                       comment_english     label
0     ['auto', 'subscribe', 'bang', 'answer', 'heart']  positive
1           ['pay', 'rban', 'continued', 'normal', '']  positive
2    ['thanks', 'bro', 'until', 'alternating', 'atm...  positive
3    ['i', 'natural', 'shocked', 'right', 'listen',...  positive
4    ['shocked', 'bang', 'just', 'thousand', 'pay',...  negative
..                                                 ...       ...
157  ['bang', 'already', 'list', 'online', 'telepho...  positive
158                                  ['lag', 'bangat']  positive
159                  ['indihome', 'net', 'nge', 'lag']  positive
160                    ['indihome', 'mending', 'mola']  positive
161  ['bro', 'list', 'list', 'mbps', 'lot', 'forgiv...  positive

[162 rows x 2 columns]

In [8]:
df['label'].value_counts()

positive    127
negative     35
Name: label, dtype: int64

In [9]:
df.to_excel('labeling_databersih_youtube_indihome_4.xlsx')