In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\INSTAGRAM_TELKOMSEL\data bersih_translate instagram telkomsel\databersih_english_instagram_telkomsel_8.xlsx', usecols=columns)
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.0
Index:  1 label_awal -0.16
Index:  2 label_awal 0.0
Index:  3 label_awal 0.0
Index:  4 label_awal 0.0
Index:  5 label_awal 0.0
Index:  6 label_awal 0.44999999999999996
Index:  7 label_awal 0.0
Index:  8 label_awal 0.21428571428571427
Index:  9 label_awal 0.0
Index:  10 label_awal 0.0
Index:  11 label_awal 0.18333333333333335
Index:  12 label_awal 0.0
Index:  13 label_awal 0.0
Index:  14 label_awal 0.0
Index:  15 label_awal 0.4
Index:  16 label_awal 0.0
Index:  17 label_awal 0.4
Index:  18 label_awal 0.0
Index:  19 label_awal 0.0
Index:  20 label_awal 0.0
Index:  21 label_awal 0.4
Index:  22 label_awal 0.0
Index:  23 label_awal 0.0
Index:  24 label_awal 0.0
Index:  25 label_awal 0.0
Index:  26 label_awal 0.7000000000000001
Index:  27 label_awal -0.13333333333333333
Index:  28 label_awal 0.0
Index:  29 label_awal -0.6999999999999998
Index:  30 label_awal 0.3
Index:  31 label_awal -0.09166666666666667
Index:  32 label_awal 0.5
Index:  33 label_awal 0.0
Index:  34 label_awal 0.0
Index:  35 label_awal -0.25
Index:  36 label_awal 0.0
Index:  37 label_awal 0.0
Index:  38 label_awal 0.43333333333333335
Index:  39 label_awal 0.375
Index:  40 label_awal 0.21666666666666667
Index:  41 label_awal 0.5
Index:  42 label_awal 0.35
Index:  43 label_awal 0.0
Index:  44 label_awal -0.1
Index:  45 label_awal 0.0
Index:  46 label_awal 0.1
Index:  47 label_awal 0.0
Index:  48 label_awal 0.0
Index:  49 label_awal 0.0
Index:  50 label_awal -0.2777777777777778
Index:  51 label_awal 0.0
Index:  52 label_awal 0.0
Index:  53 label_awal 0.55
Index:  54 label_awal -0.4
Index:  55 label_awal 0.0
Index:  56 label_awal 0.0
Index:  57 label_awal 0.0
Index:  58 label_awal 0.0
Index:  59 label_awal 0.0
Index:  60 label_awal 0.0
Index:  61 label_awal 0.4
Index:  62 label_awal 0.0
Index:  63 label_awal 0.13636363636363635
Index:  64 label_awal 0.4
Index:  65 label_awal 0.0
Index:  66 label_awal 0.0
Index:  67 label_awal 0.0
Index:  68 label_awal 0.0
Index:  69 label_awal 0.0

In [3]:
df.head()

                                     comment_english label_awal
0  ['min', 'please', 'check', 'min', 'please', 'm...        0.0
1  ['min', 'telkomsel', 'login', 'game', 'mlbb', ...      -0.16
2  ['min', 'get', 'package', 'denim', 'purpose', ...        0.0
3                                   ['pdhl', 'line']        0.0
4                                ['signal', 'ilang']        0.0

In [4]:
df['label_awal'].value_counts()

 0.000000    43
 0.400000     5
 0.500000     2
 0.214286     1
 0.183333     1
-0.400000     1
 0.550000     1
-0.277778     1
 0.100000     1
-0.100000     1
 0.350000     1
 0.216667     1
 0.375000     1
 0.433333     1
-0.250000     1
-0.160000     1
-0.091667     1
 0.300000     1
-0.700000     1
-0.133333     1
 0.700000     1
 0.450000     1
 0.136364     1
Name: label_awal, dtype: int64

In [5]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] > 0.0:
        label.append("positive")
    else:
        label.append("negative")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                      comment_english     label
0   ['min', 'please', 'check', 'min', 'please', 'm...  negative
1   ['min', 'telkomsel', 'login', 'game', 'mlbb', ...  negative
2   ['min', 'get', 'package', 'denim', 'purpose', ...  negative
3                                    ['pdhl', 'line']  negative
4                                 ['signal', 'ilang']  negative
..                                                ...       ...
65                                    ['read', 'min']  negative
66  ['min', 'upgrade', 'linkaja', 'grapari', 'telk...  negative
67                                   ['check', 'sis']  negative
68                                   ['bales', 'min']  negative
69  ['sapa', 'fortune', 'alhamdulillah', 'aamiin', "]  negative

[70 rows x 2 columns]

In [6]:
df['label'].value_counts()

negative    51
positive    19
Name: label, dtype: int64

In [7]:
df.to_excel('labeling_databersih_instagram_indihome_8.xlsx')