In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\INSTAGRAM_TELKOMSEL\data bersih_translate instagram telkomsel\databersih_english_instagram_telkomsel_11.xlsx', usecols=columns)
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.16666666666666666
Index:  1 label_awal 0.1
Index:  2 label_awal -0.375
Index:  3 label_awal -0.00833333333333334
Index:  4 label_awal 0.0
Index:  5 label_awal 0.25
Index:  6 label_awal 0.0
Index:  7 label_awal 0.0
Index:  8 label_awal -0.15
Index:  9 label_awal 0.0
Index:  10 label_awal -0.6999999999999998
Index:  11 label_awal 0.43333333333333335
Index:  12 label_awal 0.0
Index:  13 label_awal -0.05185185185185185
Index:  14 label_awal 0.0
Index:  15 label_awal 0.0
Index:  16 label_awal 0.0
Index:  17 label_awal 0.0
Index:  18 label_awal 0.0
Index:  19 label_awal -0.13333333333333333
Index:  20 label_awal 0.0
Index:  21 label_awal -0.1
Index:  22 label_awal 0.033333333333333305
Index:  23 label_awal -0.5
Index:  24 label_awal -0.1
Index:  25 label_awal 0.0
Index:  26 label_awal 0.0
Index:  27 label_awal 0.1
Index:  28 label_awal 0.4
Index:  29 label_awal 0.0
Index:  30 label_awal 0.0
Index:  31 label_awal 0.0
Index:  32 label_awal 0.0
Index:  33 label_awal 0.0
Index:  34 label_awal 0.7
Index:  35 label_awal 0.0
Index:  36 label_awal 0.0
Index:  37 label_awal 0.0
Index:  38 label_awal 0.0
Index:  39 label_awal -0.15555555555555559
Index:  40 label_awal 0.0
Index:  41 label_awal 0.0
Index:  42 label_awal 0.0
Index:  43 label_awal -0.5
Index:  44 label_awal 0.0
Index:  45 label_awal 0.0
Index:  46 label_awal 0.0
Index:  47 label_awal 0.0
Index:  48 label_awal 0.0
Index:  49 label_awal 0.03333333333333333
Index:  50 label_awal 0.0
Index:  51 label_awal 0.0
Index:  52 label_awal 0.0
Index:  53 label_awal 0.0
Index:  54 label_awal 0.0
Index:  55 label_awal -0.2
Index:  56 label_awal 0.0
Index:  57 label_awal 0.2
Index:  58 label_awal 0.0
Index:  59 label_awal 0.0
Index:  60 label_awal 0.0
Index:  61 label_awal 0.0
Index:  62 label_awal 0.0
Index:  63 label_awal 0.0
Index:  64 label_awal 0.4666666666666666
Index:  65 label_awal 0.0
Index:  66 label_awal 0.0
Index:  67 label_awal 0.7
Index:  68 label_awal 0.0
Index:  69 label_awal 0.0
Index:  70 label_awal 0.0
Index:  71 label_awal 0.0
Index:  72 label_awal 0.0
Index:  73 label_awal 0.0
Index:  74 label_awal 0.08333333333333333
Index:  75 label_awal 0.0
Index:  76 label_awal 0.0
Index:  77 label_awal 0.0
Index:  78 label_awal 0.0
Index:  79 label_awal -0.15
Index:  80 label_awal -0.13333333333333333
Index:  81 label_awal 0.2
Index:  82 label_awal 0.0
Index:  83 label_awal 0.0
Index:  84 label_awal -0.11666666666666668
Index:  85 label_awal 0.0
Index:  86 label_awal 0.0
Index:  87 label_awal 0.0
Index:  88 label_awal 0.15
Index:  89 label_awal -0.08333333333333333
Index:  90 label_awal 0.0
Index:  91 label_awal 0.0
Index:  92 label_awal 0.0
Index:  93 label_awal -0.13333333333333333
Index:  94 label_awal 0.3
Index:  95 label_awal 0.16

In [3]:
df.head()

                                     comment_english label_awal
0                                         ['steady']   0.166667
1  ['current', 'really', 'so laid', 'want', 'bant...        0.1
2  ['postpaid', 'weak', 'prepaid', 'postpaid', 'm...     -0.375
3  ['hoax', 'quota', 'regular', 'abis',' tetep ',...  -0.008333
4                          ['signal', 'appears', '']        0.0

In [4]:
df['label_awal'].value_counts()

 0.000000    62
-0.133333     3
-0.500000     2
-0.150000     2
-0.100000     2
 0.200000     2
 0.100000     2
 0.700000     2
 0.033333     1
 0.300000     1
-0.083333     1
 0.150000     1
-0.116667     1
 0.083333     1
 0.466667     1
-0.200000     1
 0.166667     1
-0.155556     1
 0.400000     1
 0.033333     1
-0.051852     1
 0.433333     1
-0.700000     1
 0.250000     1
-0.008333     1
-0.375000     1
 0.160000     1
Name: label_awal, dtype: int64

In [5]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] > 0.0:
        label.append("positive")
    else:
        label.append("negative")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                      comment_english     label
0                                          ['steady']  positive
1   ['current', 'really', 'so laid', 'want', 'bant...  positive
2   ['postpaid', 'weak', 'prepaid', 'postpaid', 'm...  negative
3   ['hoax', 'quota', 'regular', 'abis',' tetep ',...  negative
4                           ['signal', 'appears', '']  negative
..                                                ...       ...
91                                 ['dm', 'response']  negative
92                                   ['min', 'check']  negative
93  ['min', 'package', 'emergency', 'appears', 'ac...  negative
94  ['often', 'credit', 'cut', 'ros', 'package', '...  positive
95                         ['jessie', 'frye', 'high']  positive

[96 rows x 2 columns]

In [6]:
df['label'].value_counts()

negative    79
positive    17
Name: label, dtype: int64

In [7]:
df.to_excel('labeling_databersih_instagram_indihome_11.xlsx')