In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\YOUTUBE_INDIHOME\databersih_english_youtube_indihome\databersih_english_youtube_indihome_8.xlsx', usecols=columns)
df.head(2000)

                                       comment_english
0    ['command', 'platform', 'teach', 'free', 'prov...
1    ['Moga', 'Internet', 'fast', 'Lot', 'Telkomsel...
2                            ['UDH', 'Pay', 'late', "]
3    ['complaint', 'Boy', 'facing', 'taste', 'Painf...
4      ['STROOMNET', 'Champion', 'User', 'Experience']
..                                                 ...
202          ['Asai', 'Sybil', 'Ultron', 'Telkom', '']
203  ['luck', 'already', 'replace', 'biznet', 'huak...
204                        ['Smartfren', 'getting', "]
205                               ['', 'home', 'safe']
206                            ['already', 'good', '']

[207 rows x 1 columns]

In [3]:
df['comment_english'] = df['comment_english'].str.lower()
df.head(2000)

                                       comment_english
0    ['command', 'platform', 'teach', 'free', 'prov...
1    ['moga', 'internet', 'fast', 'lot', 'telkomsel...
2                            ['udh', 'pay', 'late', "]
3    ['complaint', 'boy', 'facing', 'taste', 'painf...
4      ['stroomnet', 'champion', 'user', 'experience']
..                                                 ...
202          ['asai', 'sybil', 'ultron', 'telkom', '']
203  ['luck', 'already', 'replace', 'biznet', 'huak...
204                        ['smartfren', 'getting', "]
205                               ['', 'home', 'safe']
206                            ['already', 'good', '']

[207 rows x 1 columns]

In [4]:
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal -0.04999999999999999
Index:  1 label_awal 0.03333333333333336
Index:  2 label_awal -0.3
Index:  3 label_awal -0.5
Index:  4 label_awal 0.0
Index:  5 label_awal 0.25
Index:  6 label_awal -0.49999999999999994
Index:  7 label_awal -0.25
Index:  8 label_awal 0.0
Index:  9 label_awal 0.0
Index:  10 label_awal 0.0
Index:  11 label_awal -0.5
Index:  12 label_awal 0.5
Index:  13 label_awal 0.0
Index:  14 label_awal 0.2
Index:  15 label_awal 0.0
Index:  16 label_awal -0.07500000000000001
Index:  17 label_awal 0.03333333333333334
Index:  18 label_awal 0.0
Index:  19 label_awal -0.25
Index:  20 label_awal 0.4
Index:  21 label_awal -0.012962962962962963
Index:  22 label_awal 0.0033333333333332624
Index:  23 label_awal 0.0
Index:  24 label_awal -0.20370370370370372
Index:  25 label_awal -0.001851851851851873
Index:  26 label_awal 0.5
Index:  27 label_awal 0.5
Index:  28 label_awal 0.0
Index:  29 label_awal -0.033333333333333326
Index:  30 label_awal 0.19999999999999998
Index:  31 label_awal -0.13333333333333333
Index:  32 label_awal 0.0
Index:  33 label_awal 0.2
Index:  34 label_awal 0.0
Index:  35 label_awal 0.3333333333333333
Index:  36 label_awal 0.0148148148148148
Index:  37 label_awal 0.0
Index:  38 label_awal 0.0
Index:  39 label_awal -0.5
Index:  40 label_awal -0.2
Index:  41 label_awal -3.700743415417188e-17
Index:  42 label_awal -0.15555555555555559
Index:  43 label_awal 0.15000000000000002
Index:  44 label_awal 0.4
Index:  45 label_awal 0.26666666666666666
Index:  46 label_awal 0.0
Index:  47 label_awal -0.125
Index:  48 label_awal -0.5
Index:  49 label_awal 0.25
Index:  50 label_awal 0.0
Index:  51 label_awal 0.0
Index:  52 label_awal 0.0
Index:  53 label_awal 0.15
Index:  54 label_awal 0.15000000000000002
Index:  55 label_awal 0.0
Index:  56 label_awal 0.1
Index:  57 label_awal 0.32222222222222224
Index:  58 label_awal -0.25
Index:  59 label_awal 0.0
Index:  60 label_awal -0.16666666666666666
Index:  61 label_awal 0.0
Index:  62 label_awal 0.13636363636363635
Index:  63 label_awal -0.25
Index:  64 label_awal -0.037037037037037056
Index:  65 label_awal 0.0
Index:  66 label_awal 0.2
Index:  67 label_awal 0.3499999999999999
Index:  68 label_awal 0.0
Index:  69 label_awal 0.2
Index:  70 label_awal 0.2
Index:  71 label_awal 0.2
Index:  72 label_awal 0.0
Index:  73 label_awal 0.0
Index:  74 label_awal 0.0
Index:  75 label_awal 0.0
Index:  76 label_awal -0.15555555555555559
Index:  77 label_awal 0.0
Index:  78 label_awal 0.0
Index:  79 label_awal -0.45
Index:  80 label_awal 0.0
Index:  81 label_awal -0.25
Index:  82 label_awal 0.0
Index:  83 label_awal 0.0
Index:  84 label_awal -0.35
Index:  85 label_awal 0.0
Index:  86 label_awal 0.0
Index:  87 label_awal 0.09444444444444444
Index:  88 label_awal -0.5
Index:  89 label_awal 0.2
Index:  90 label_awal -0.5
Index:  91 label_awal -0.3277777777777778
Index:  92 label_awal 0.0
Index:  93 label_awal 0.0
Index:  94 label_awal 0.0
Index:  95 label_awal 0.8
Index:  96 label_awal -0.5
Index:  97 label_awal 0.35
Index:  98 label_awal -0.3
Index:  99 label_awal 0.4
Index:  100 label_awal 0.0
Index:  101 label_awal 0.06666666666666665
Index:  102 label_awal -0.5
Index:  103 label_awal 0.2
Index:  104 label_awal 0.0
Index:  105 label_awal 0.0
Index:  106 label_awal -0.2
Index:  107 label_awal 0.0
Index:  108 label_awal -0.051851851851851864
Index:  109 label_awal -0.5
Index:  110 label_awal 0.25
Index:  111 label_awal -0.4
Index:  112 label_awal 0.0
Index:  113 label_awal 0.0
Index:  114 label_awal -0.32222222222222224
Index:  115 label_awal 0.0
Index:  116 label_awal -0.15555555555555559
Index:  117 label_awal 0.0
Index:  118 label_awal -0.3
Index:  119 label_awal -0.6999999999999998
Index:  120 label_awal -0.15555555555555559
Index:  121 label_awal 0.0
Index:  122 label_awal 0.0
Index:  123 label_awal -0.5
Index:  124 label_awal -0.5
Index:  125 label_awal 0.0
Index:  126 label_awal 0.0
Index:  127 label_awal -0.4
Index:  128 label_awal 0.0
Index:  129 label_awal 0.0
Index:  130 label_awal 0.0
Index:  131 label_awal 0.0
Index:  132 label_awal 0.8
Index:  133 label_awal -0.04999999999999999
Index:  134 label_awal 0.0
Index:  135 label_awal 0.0
Index:  136 label_awal 0.0
Index:  137 label_awal 0.5
Index:  138 label_awal -0.5
Index:  139 label_awal -0.15555555555555559
Index:  140 label_awal 0.7
Index:  141 label_awal 0.7
Index:  142 label_awal -0.15
Index:  143 label_awal 0.0
Index:  144 label_awal 0.1
Index:  145 label_awal -0.07142857142857142
Index:  146 label_awal 0.0
Index:  147 label_awal 0.075
Index:  148 label_awal 0.0
Index:  149 label_awal 0.0
Index:  150 label_awal 0.16666666666666666
Index:  151 label_awal -0.4
Index:  152 label_awal -0.5
Index:  153 label_awal 0.0
Index:  154 label_awal -0.5
Index:  155 label_awal 0.0
Index:  156 label_awal 0.0
Index:  157 label_awal -0.0027777777777777957
Index:  158 label_awal 0.0
Index:  159 label_awal -0.07777777777777779
Index:  160 label_awal 0.3
Index:  161 label_awal 0.15000000000000002
Index:  162 label_awal -0.5
Index:  163 label_awal 0.0
Index:  164 label_awal 0.0
Index:  165 label_awal 0.0
Index:  166 label_awal -0.3
Index:  167 label_awal 0.0
Index:  168 label_awal 0.2
Index:  169 label_awal 0.0
Index:  170 label_awal -0.3333333333333333
Index:  171 label_awal 0.0
Index:  172 label_awal -0.15555555555555559
Index:  173 label_awal 0.0
Index:  174 label_awal 0.0
Index:  175 label_awal -0.15000000000000002
Index:  176 label_awal 0.0
Index:  177 label_awal 0.0
Index:  178 label_awal -0.1
Index:  179 label_awal -0.05000000000000002
Index:  180 label_awal 0.0
Index:  181 label_awal -0.07777777777777779
Index:  182 label_awal 0.0
Index:  183 label_awal -0.30000000000000004
Index:  184 label_awal 0.0
Index:  185 label_awal 0.0
Index:  186 label_awal -0.6999999999999998
Index:  187 label_awal 0.3333333333333333
Index:  188 label_awal 0.0
Index:  189 label_awal -0.07777777777777779
Index:  190 label_awal -0.15555555555555559
Index:  191 label_awal 0.0
Index:  192 label_awal -0.049999999999999996
Index:  193 label_awal 0.3333333333333333
Index:  194 label_awal 0.0
Index:  195 label_awal 1.0
Index:  196 label_awal 0.2857142857142857
Index:  197 label_awal 0.3499999999999999
Index:  198 label_awal 0.0
Index:  199 label_awal -0.25
Index:  200 label_awal 0.0
Index:  201 label_awal 0.0
Index:  202 label_awal 0.0
Index:  203 label_awal 0.0
Index:  204 label_awal 0.0
Index:  205 label_awal 0.5
Index:  206 label_awal 0.7

In [5]:
df.head()

                                     comment_english label_awal
0  ['command', 'platform', 'teach', 'free', 'prov...      -0.05
1  ['moga', 'internet', 'fast', 'lot', 'telkomsel...   0.033333
2                          ['udh', 'pay', 'late', "]       -0.3
3  ['complaint', 'boy', 'facing', 'taste', 'painf...       -0.5
4    ['stroomnet', 'champion', 'user', 'experience']        0.0

In [6]:
df['label_awal'].value_counts()

 0.000000    86
-0.500000    15
 0.200000     9
-0.155556     7
-0.250000     6
             ..
 0.033333     1
 0.136364     1
-0.037037     1
-0.450000     1
 0.285714     1
Name: label_awal, Length: 62, dtype: int64

In [7]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] <= 0.0:
        label.append("negative")
    else:
        label.append("positive")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                       comment_english     label
0    ['command', 'platform', 'teach', 'free', 'prov...  negative
1    ['moga', 'internet', 'fast', 'lot', 'telkomsel...  positive
2                            ['udh', 'pay', 'late', "]  negative
3    ['complaint', 'boy', 'facing', 'taste', 'painf...  negative
4      ['stroomnet', 'champion', 'user', 'experience']  negative
..                                                 ...       ...
202          ['asai', 'sybil', 'ultron', 'telkom', '']  negative
203  ['luck', 'already', 'replace', 'biznet', 'huak...  negative
204                        ['smartfren', 'getting', "]  negative
205                               ['', 'home', 'safe']  positive
206                            ['already', 'good', '']  positive

[207 rows x 2 columns]

In [8]:
df['label'].value_counts()

negative    155
positive     52
Name: label, dtype: int64

In [9]:
df.to_excel('labeling_databersih_youtube_indihome_8.xlsx')