In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\YOUTUBE_INDIHOME\databersih_english_youtube_indihome\databersih_english_youtube_indihome_2.xlsx', usecols=columns)
df.head(2000)

                                       comment_english
0                       ['Indihome', 'Mbps', 'steady']
1    ['connection', 'broke', 'clock', 'clock', 'lot...
2    ['Stay', 'County', 'Nabire', 'Papua', 'Net', '...
3    ['', 'God', 'wifi', 'Indihome', 'price', 'supe...
4    ['Channel', 'USE', 'complete', 'MNC', 'Media',...
..                                                 ...
109  ['Ajh', 'Masang', 'Idhme', 'Masang', 'Mingu', ...
110                           ['Beautiful', 'Mbak', "]
111  ['Boy', 'bilek', 'Mak', 'entered', 'MAKK', 'WU...
112                                     ['Hi darling']
113                                        ['Ribeeet']

[114 rows x 1 columns]

In [3]:
df['comment_english'] = df['comment_english'].str.lower()
df.head(2000)

                                       comment_english
0                       ['indihome', 'mbps', 'steady']
1    ['connection', 'broke', 'clock', 'clock', 'lot...
2    ['stay', 'county', 'nabire', 'papua', 'net', '...
3    ['', 'god', 'wifi', 'indihome', 'price', 'supe...
4    ['channel', 'use', 'complete', 'mnc', 'media',...
..                                                 ...
109  ['ajh', 'masang', 'idhme', 'masang', 'mingu', ...
110                           ['beautiful', 'mbak', "]
111  ['boy', 'bilek', 'mak', 'entered', 'makk', 'wu...
112                                     ['hi darling']
113                                        ['ribeeet']

[114 rows x 1 columns]

In [4]:
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.16666666666666666
Index:  1 label_awal 0.0
Index:  2 label_awal 0.05
Index:  3 label_awal 0.3666666666666667
Index:  4 label_awal -0.2
Index:  5 label_awal 0.0
Index:  6 label_awal 0.0
Index:  7 label_awal 0.7
Index:  8 label_awal 0.0
Index:  9 label_awal 0.0
Index:  10 label_awal 0.2
Index:  11 label_awal -0.27
Index:  12 label_awal 0.0
Index:  13 label_awal -0.5
Index:  14 label_awal 0.0
Index:  15 label_awal 0.0
Index:  16 label_awal 0.0
Index:  17 label_awal 0.0
Index:  18 label_awal 0.0
Index:  19 label_awal 0.0
Index:  20 label_awal 0.2
Index:  21 label_awal 0.0
Index:  22 label_awal 0.0
Index:  23 label_awal -0.25
Index:  24 label_awal 0.0
Index:  25 label_awal -0.23333333333333336
Index:  26 label_awal 0.0
Index:  27 label_awal 0.7
Index:  28 label_awal -0.4
Index:  29 label_awal 0.0
Index:  30 label_awal 0.0
Index:  31 label_awal 0.0
Index:  32 label_awal 0.0
Index:  33 label_awal -0.75
Index:  34 label_awal 0.0
Index:  35 label_awal 0.0
Index:  36 label_awal 0.0
Index:  37 label_awal 0.0
Index:  38 label_awal 0.0
Index:  39 label_awal 0.525
Index:  40 label_awal 0.0
Index:  41 label_awal -0.225
Index:  42 label_awal 0.0
Index:  43 label_awal 0.0
Index:  44 label_awal 0.35
Index:  45 label_awal 0.0
Index:  46 label_awal 0.0
Index:  47 label_awal 0.0
Index:  48 label_awal -0.2
Index:  49 label_awal 0.0
Index:  50 label_awal -0.2
Index:  51 label_awal -0.4
Index:  52 label_awal 0.0
Index:  53 label_awal 0.0
Index:  54 label_awal 0.0
Index:  55 label_awal 0.0
Index:  56 label_awal 0.16666666666666666
Index:  57 label_awal 0.0
Index:  58 label_awal 0.0
Index:  59 label_awal 0.0
Index:  60 label_awal 0.0
Index:  61 label_awal 0.0
Index:  62 label_awal 0.0
Index:  63 label_awal 0.0
Index:  64 label_awal 0.0
Index:  65 label_awal 0.0
Index:  66 label_awal 0.0
Index:  67 label_awal 0.0
Index:  68 label_awal 0.0
Index:  69 label_awal 0.0
Index:  70 label_awal 0.0
Index:  71 label_awal 0.0
Index:  72 label_awal -0.4777777777777778
Index:  73 label_awal 0.7
Index:  74 label_awal 0.0
Index:  75 label_awal 0.0
Index:  76 label_awal 0.0
Index:  77 label_awal -0.13333333333333333
Index:  78 label_awal 0.0
Index:  79 label_awal 0.13636363636363635
Index:  80 label_awal 0.0
Index:  81 label_awal 0.35
Index:  82 label_awal 0.2
Index:  83 label_awal 0.0
Index:  84 label_awal 0.0
Index:  85 label_awal 0.0
Index:  86 label_awal 0.4
Index:  87 label_awal 0.0
Index:  88 label_awal 0.0
Index:  89 label_awal 0.0
Index:  90 label_awal 0.0
Index:  91 label_awal 0.7000000000000001
Index:  92 label_awal 0.0
Index:  93 label_awal 0.225
Index:  94 label_awal 0.0
Index:  95 label_awal 0.0
Index:  96 label_awal 0.0
Index:  97 label_awal 0.0
Index:  98 label_awal 0.0
Index:  99 label_awal 0.0
Index:  100 label_awal 0.4
Index:  101 label_awal -0.5
Index:  102 label_awal 0.0
Index:  103 label_awal 0.30000000000000004
Index:  104 label_awal 0.5
Index:  105 label_awal 0.0
Index:  106 label_awal 0.2765151515151515
Index:  107 label_awal 0.6125
Index:  108 label_awal 0.5499999999999999
Index:  109 label_awal 0.0
Index:  110 label_awal 0.85
Index:  111 label_awal 0.0
Index:  112 label_awal 0.0
Index:  113 label_awal 0.0

In [5]:
df.head()

                                     comment_english label_awal
0                     ['indihome', 'mbps', 'steady']   0.166667
1  ['connection', 'broke', 'clock', 'clock', 'lot...        0.0
2  ['stay', 'county', 'nabire', 'papua', 'net', '...       0.05
3  ['', 'god', 'wifi', 'indihome', 'price', 'supe...   0.366667
4  ['channel', 'use', 'complete', 'mnc', 'media',...       -0.2

In [6]:
df['label_awal'].value_counts()

 0.000000    76
-0.200000     3
 0.700000     3
 0.200000     3
 0.166667     2
-0.400000     2
 0.350000     2
-0.500000     2
 0.400000     2
 0.136364     1
 0.500000     1
 0.300000     1
 0.276515     1
 0.225000     1
 0.700000     1
 0.612500     1
 0.550000     1
-0.225000     1
-0.133333     1
-0.477778     1
 0.525000     1
-0.750000     1
-0.233333     1
-0.250000     1
-0.270000     1
 0.366667     1
 0.050000     1
 0.850000     1
Name: label_awal, dtype: int64

In [10]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] <= 0.0:
        label.append("negative")
    else:
        label.append("positive")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

KeyError: 'label_awal'

In [8]:
df['label'].value_counts()

positive    100
negative     14
Name: label, dtype: int64

In [9]:
df.to_excel('labeling_databersih_youtube_indihome_2.xlsx')