In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\YOUTUBE_INDIHOME\databersih_english_youtube_indihome\databersih_english_youtube_indihome_7.xlsx', usecols=columns)
df.head(2000)

                                       comment_english
0    ['Easy', 'Easy', 'Provider', 'Internet', 'Telk...
1    ['spirit', 'technicians', 'Indihome', 'hopeful...
2    ['hope', 'fast', 'finished', 'Benerin', 'net',...
3    ['Telkomsel', 'Region', 'Profince', 'internet'...
4    ['already', 'expensive', 'disturbing', 'Mulu',...
..                                                 ...
101  ['yrs',' times', 'pairs',' Mbps', 'rb', 'blm',...
102  ['Wait', 'ISP', 'enter', 'area', 'pencil', 'ha...
103  ['just', 'upgraded', 'Mbps',' Mbps', 'tags',' ...
104                          ['Guna', 'GB', 'Pay', '']
105  ['Fup', 'ken', 'use', 'buy', 'router', 'sambun...

[106 rows x 1 columns]

In [3]:
df['comment_english'] = df['comment_english'].str.lower()
df.head(2000)

                                       comment_english
0    ['easy', 'easy', 'provider', 'internet', 'telk...
1    ['spirit', 'technicians', 'indihome', 'hopeful...
2    ['hope', 'fast', 'finished', 'benerin', 'net',...
3    ['telkomsel', 'region', 'profince', 'internet'...
4    ['already', 'expensive', 'disturbing', 'mulu',...
..                                                 ...
101  ['yrs',' times', 'pairs',' mbps', 'rb', 'blm',...
102  ['wait', 'isp', 'enter', 'area', 'pencil', 'ha...
103  ['just', 'upgraded', 'mbps',' mbps', 'tags',' ...
104                          ['guna', 'gb', 'pay', '']
105  ['fup', 'ken', 'use', 'buy', 'router', 'sambun...

[106 rows x 1 columns]

In [4]:
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.4222222222222222
Index:  1 label_awal 0.2
Index:  2 label_awal 0.1
Index:  3 label_awal -0.15555555555555559
Index:  4 label_awal -0.07500000000000001
Index:  5 label_awal 0.04999999999999999
Index:  6 label_awal 0.0
Index:  7 label_awal 0.7
Index:  8 label_awal 0.2166666666666666
Index:  9 label_awal -0.30000000000000004
Index:  10 label_awal 0.0
Index:  11 label_awal 0.375
Index:  12 label_awal 0.25
Index:  13 label_awal 0.2
Index:  14 label_awal 0.0
Index:  15 label_awal -0.5
Index:  16 label_awal -0.25
Index:  17 label_awal -0.30000000000000004
Index:  18 label_awal -0.1
Index:  19 label_awal 0.0
Index:  20 label_awal -0.30000000000000004
Index:  21 label_awal 0.0
Index:  22 label_awal 0.0
Index:  23 label_awal 0.0
Index:  24 label_awal 0.0
Index:  25 label_awal 0.022222222222222213
Index:  26 label_awal 0.44999999999999996
Index:  27 label_awal 0.0
Index:  28 label_awal 0.0
Index:  29 label_awal 0.0
Index:  30 label_awal 0.15
Index:  31 label_awal -0.15555555555555559
Index:  32 label_awal -0.04999999999999999
Index:  33 label_awal 0.0
Index:  34 label_awal 0.0
Index:  35 label_awal -0.7
Index:  36 label_awal 0.0
Index:  37 label_awal -0.5
Index:  38 label_awal -0.0027777777777777957
Index:  39 label_awal 0.0
Index:  40 label_awal 0.0
Index:  41 label_awal 0.0
Index:  42 label_awal -0.3333333333333333
Index:  43 label_awal 0.0
Index:  44 label_awal 0.0
Index:  45 label_awal 0.0
Index:  46 label_awal 0.2857142857142857
Index:  47 label_awal 0.0
Index:  48 label_awal 0.3666666666666667
Index:  49 label_awal 0.0
Index:  50 label_awal 0.2
Index:  51 label_awal 0.0
Index:  52 label_awal 0.09999999999999998
Index:  53 label_awal -0.1875
Index:  54 label_awal 0.4166666666666667
Index:  55 label_awal -0.5
Index:  56 label_awal 0.1
Index:  57 label_awal -0.25
Index:  58 label_awal 0.0
Index:  59 label_awal -0.625
Index:  60 label_awal -0.09999999999999998
Index:  61 label_awal -0.23333333333333336
Index:  62 label_awal -0.056613756613756644
Index:  63 label_awal 0.0
Index:  64 label_awal 0.0
Index:  65 label_awal 0.0
Index:  66 label_awal 0.0
Index:  67 label_awal 0.0
Index:  68 label_awal 0.0
Index:  69 label_awal 0.075
Index:  70 label_awal 0.0
Index:  71 label_awal 0.0
Index:  72 label_awal -0.15555555555555559
Index:  73 label_awal 0.0
Index:  74 label_awal -0.4
Index:  75 label_awal 0.0
Index:  76 label_awal -0.11666666666666668
Index:  77 label_awal -0.5
Index:  78 label_awal 0.0
Index:  79 label_awal 0.15
Index:  80 label_awal -0.15555555555555559
Index:  81 label_awal 0.0
Index:  82 label_awal 0.0
Index:  83 label_awal 0.0
Index:  84 label_awal 0.0
Index:  85 label_awal 0.0
Index:  86 label_awal 0.155
Index:  87 label_awal -0.125
Index:  88 label_awal 0.0
Index:  89 label_awal 0.0
Index:  90 label_awal 0.25
Index:  91 label_awal 0.0
Index:  92 label_awal 0.04999999999999999
Index:  93 label_awal -0.4
Index:  94 label_awal 0.2
Index:  95 label_awal 0.0
Index:  96 label_awal -0.3
Index:  97 label_awal 0.4
Index:  98 label_awal 0.0
Index:  99 label_awal 0.8
Index:  100 label_awal 0.0
Index:  101 label_awal -0.07777777777777779
Index:  102 label_awal 0.0
Index:  103 label_awal 0.0
Index:  104 label_awal 0.0
Index:  105 label_awal 0.0

In [5]:
df.head()

                                     comment_english label_awal
0  ['easy', 'easy', 'provider', 'internet', 'telk...   0.422222
1  ['spirit', 'technicians', 'indihome', 'hopeful...        0.2
2  ['hope', 'fast', 'finished', 'benerin', 'net',...        0.1
3  ['telkomsel', 'region', 'profince', 'internet'...  -0.155556
4  ['already', 'expensive', 'disturbing', 'mulu',...     -0.075

In [6]:
df['label_awal'].value_counts()

 0.000000    50
-0.500000     4
-0.155556     4
 0.200000     4
-0.300000     3
-0.400000     2
 0.100000     2
 0.050000     2
 0.250000     2
-0.250000     2
 0.150000     2
-0.625000     1
-0.100000     1
-0.233333     1
-0.056614     1
 0.075000     1
 0.422222     1
-0.116667     1
 0.155000     1
-0.187500     1
-0.125000     1
-0.300000     1
 0.400000     1
 0.800000     1
 0.416667     1
-0.002778     1
 0.100000     1
 0.366667     1
 0.285714     1
-0.333333     1
-0.700000     1
-0.050000     1
 0.450000     1
 0.022222     1
-0.100000     1
 0.375000     1
 0.216667     1
 0.700000     1
-0.075000     1
-0.077778     1
Name: label_awal, dtype: int64

In [7]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] < 0.0:
        label.append("negative")
    else:
        label.append("positive")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                       comment_english     label
0    ['easy', 'easy', 'provider', 'internet', 'telk...  positive
1    ['spirit', 'technicians', 'indihome', 'hopeful...  positive
2    ['hope', 'fast', 'finished', 'benerin', 'net',...  positive
3    ['telkomsel', 'region', 'profince', 'internet'...  negative
4    ['already', 'expensive', 'disturbing', 'mulu',...  negative
..                                                 ...       ...
101  ['yrs',' times', 'pairs',' mbps', 'rb', 'blm',...  negative
102  ['wait', 'isp', 'enter', 'area', 'pencil', 'ha...  positive
103  ['just', 'upgraded', 'mbps',' mbps', 'tags',' ...  positive
104                          ['guna', 'gb', 'pay', '']  positive
105  ['fup', 'ken', 'use', 'buy', 'router', 'sambun...  positive

[106 rows x 2 columns]

In [8]:
df['label'].value_counts()

positive    76
negative    30
Name: label, dtype: int64

In [9]:
df.to_excel('labeling_databersih_youtube_indihome_7.xlsx')