In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
columns = ["comment_english"]
df = pd.read_excel(r'C:\Users\Hp\TUGAS AKHIR 2\INSTAGRAM_INDIHOME\data bersih_translate instagram indihome\databersih_english_instagram_indihome_6.xlsx', usecols=columns)
df['label_awal'] = ''
for i,x in df.comment_english.iteritems():
    label_awal = TextBlob(x)
    df['label_awal'][i] = label_awal.sentiment.polarity
    print("Index: ", i ,  "label_awal" , label_awal.sentiment.polarity)

Index:  0 label_awal 0.31666666666666665
Index:  1 label_awal -0.8
Index:  2 label_awal 0.0
Index:  3 label_awal 0.0
Index:  4 label_awal 0.13333333333333333
Index:  5 label_awal 0.0
Index:  6 label_awal -0.525
Index:  7 label_awal 0.0
Index:  8 label_awal 0.0
Index:  9 label_awal 0.0
Index:  10 label_awal 0.0
Index:  11 label_awal 0.0
Index:  12 label_awal 0.0
Index:  13 label_awal 0.0
Index:  14 label_awal 0.7
Index:  15 label_awal 0.0
Index:  16 label_awal 0.0
Index:  17 label_awal 0.1
Index:  18 label_awal 0.6
Index:  19 label_awal -0.13333333333333333
Index:  20 label_awal 0.0
Index:  21 label_awal 0.0
Index:  22 label_awal 0.5666666666666667
Index:  23 label_awal 0.2
Index:  24 label_awal 0.0
Index:  25 label_awal 0.2
Index:  26 label_awal 0.35
Index:  27 label_awal -0.15555555555555559
Index:  28 label_awal 0.0
Index:  29 label_awal -0.7
Index:  30 label_awal 0.1
Index:  31 label_awal 0.0
Index:  32 label_awal 0.0
Index:  33 label_awal 0.2
Index:  34 label_awal 0.0
Index:  35 label_awal 0.0
Index:  36 label_awal 0.0
Index:  37 label_awal 0.0
Index:  38 label_awal 0.0
Index:  39 label_awal 0.10000000000000002
Index:  40 label_awal 0.5
Index:  41 label_awal 0.0
Index:  42 label_awal 0.0
Index:  43 label_awal 0.0
Index:  44 label_awal 0.0
Index:  45 label_awal 0.0
Index:  46 label_awal 0.0
Index:  47 label_awal -0.4
Index:  48 label_awal 0.2
Index:  49 label_awal 0.0
Index:  50 label_awal 0.5
Index:  51 label_awal 0.0
Index:  52 label_awal 0.0
Index:  53 label_awal 0.0
Index:  54 label_awal 0.0
Index:  55 label_awal 0.43333333333333335
Index:  56 label_awal 0.43333333333333335
Index:  57 label_awal 0.0
Index:  58 label_awal 0.1
Index:  59 label_awal 0.2
Index:  60 label_awal 0.0
Index:  61 label_awal 0.5249999999999999
Index:  62 label_awal 0.3
Index:  63 label_awal 0.2
Index:  64 label_awal 0.0
Index:  65 label_awal -0.4
Index:  66 label_awal 0.43333333333333335
Index:  67 label_awal 0.43333333333333335
Index:  68 label_awal -0.1277777777777778
Index:  69 label_awal 0.0
Index:  70 label_awal 0.0
Index:  71 label_awal -0.4166666666666667
Index:  72 label_awal 0.16666666666666666
Index:  73 label_awal 0.0
Index:  74 label_awal 0.0
Index:  75 label_awal -0.15
Index:  76 label_awal 0.0
Index:  77 label_awal 0.6
Index:  78 label_awal 0.0
Index:  79 label_awal 0.3333333333333333
Index:  80 label_awal 0.0
Index:  81 label_awal -0.6
Index:  82 label_awal 0.1
Index:  83 label_awal 0.0
Index:  84 label_awal 0.0
Index:  85 label_awal 0.0
Index:  86 label_awal 0.0
Index:  87 label_awal 0.0
Index:  88 label_awal -0.19999999999999998
Index:  89 label_awal -0.1
Index:  90 label_awal 0.0
Index:  91 label_awal -0.30000000000000004
Index:  92 label_awal -0.0642857142857143
Index:  93 label_awal 0.0
Index:  94 label_awal 0.0
Index:  95 label_awal -0.05
Index:  96 label_awal 0.0
Index:  97 label_awal -0.15555555555555559

In [3]:
df.head()

                                     comment_english label_awal
0            ['easy', 'fast', 'go bankrupt', 'need']   0.316667
1                                    ['base', 'ajg']       -0.8
2                  ['emang', 'pig', 'mampus', 'ajg']        0.0
3                       ['ajg', 'indohome', 'lonte']        0.0
4  ['mampus', 'ajg', 'net', 'good', 'gausah', 'pr...   0.133333

In [4]:
df['label_awal'].value_counts()

 0.000000    53
 0.200000     6
 0.433333     4
 0.100000     4
 0.500000     2
-0.155556     2
-0.400000     2
 0.600000     2
-0.416667     1
 0.166667     1
-0.150000     1
-0.600000     1
 0.333333     1
 0.300000     1
-0.200000     1
-0.100000     1
-0.300000     1
-0.064286     1
-0.127778     1
 0.316667     1
 0.525000     1
-0.800000     1
 0.100000     1
-0.700000     1
 0.350000     1
 0.566667     1
-0.133333     1
 0.700000     1
-0.525000     1
 0.133333     1
-0.050000     1
Name: label_awal, dtype: int64

In [5]:
label = []
for index, row in df.iterrows():
    if row['label_awal'] > 0.0:
        label.append("positive")
    else:
        label.append("negative")
df["label"] = label
df = df.drop(columns=['label_awal'])
df.head(2000)

                                      comment_english     label
0             ['easy', 'fast', 'go bankrupt', 'need']  positive
1                                     ['base', 'ajg']  negative
2                   ['emang', 'pig', 'mampus', 'ajg']  negative
3                        ['ajg', 'indohome', 'lonte']  negative
4   ['mampus', 'ajg', 'net', 'good', 'gausah', 'pr...  positive
..                                                ...       ...
93                    ['kak', 'internet', 'mati', '']  negative
94                        ['waw', 'already', 'panic']  negative
95  ['min', 'channel', 'access', 'cth', 'transtv',...  negative
96          ['try', 'spt', 'pandu', 'please', 'help']  negative
97                                       ['down', '']  negative

[98 rows x 2 columns]

In [6]:
df['label'].value_counts()

negative    70
positive    28
Name: label, dtype: int64

In [7]:
df.to_excel('labeling_databersih_instagram_indihome_6.xlsx')